{% extends 'base.html' %}
{% block content %}
<!-- <style>
            .container {
                width: 100%;
                max-width: 1500px;
            }

            .table-hover tbody tr:hover td {
                color: black;
            }
        </style> -->
        <div>

            <nav class="navbar mt-3 mb-0 ">
                <h4><i class="fa fa-user"></i>&nbsp;Attendance</h4>
                <ul class=" nav justify-content-end float-right">
                    <li class="breadcrumb-item">
                        <a class="" aria-current="page" href="">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="" href="{% url 'jobs' %}">My Attendance</a>
                    </li>
                </ul>
            </nav>
        </div>
<br>
<!-- Container -->
<div class="container-fluid m-0">
    <div class="hk-pg-header ">
        <h4 class="hk-pg-title">Your attendance summary </h4>

    </div>
    <!-- style="background-color:color-mix(in hsl shorter hue, hsl(186, 67%, 49%) 10%, skyblue)" -->
    <section class="hk-sec-wrapper m-0">
        <!-- Title -->
        
        <!-- /Title -->

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card card-sm borderborder-secondary">
                    <div class="card-body">
                        <h6 class="card-title">Total Classes
                            <span class="badge badge-warning float-right ">T</span>
                        </h6>
                        <p class="card-text">50</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card card-sm borderborder-secondary ">
                    <div class="card-body">
                        <h6 class="card-title">Present
                            <span class="badge badge-warning float-right ">P</span>
                        </h6>
                        <p class="card-text">45</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card card-sm borderborder-secondary ">
                    <div class="card-body">
                        <h6 class="card-title">Absent
                            <span class="badge badge-warning float-right ">Ab</span>
                        </h6>
                        <p class="card-text">5</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card card-sm borderborder-secondary ">
                    <div class="card-body">
                        <h6 class="card-title">Average
                            <span class="badge badge-warning float-right ">AVG</span>
                        </h6>
                        <p class="card-text">90%</p>
                    </div>
                </div>
            </div>



        </div>
    </section>
   
   


</div>
<div class="container-fluid m-0">
    <div class="hk-pg-header mb-2 mt-3">
        <h4 class="hk-pg-title"><i class="fa fa-calendar"></i>&nbsp;    Month and Day wise attendance</h4>
    </div>
<section class="hk-sec-wrapper m-0">
    <!-- <h5>Month and day wise attendance </h5> -->
    <hr>
    <div class="row">
        <div class="col-sm">
            <div class="table-wrap">
                <div class="table-responsive">
                    <table id="" class="table table-hover w-100 display pb-30 table-bordered">
                        <thead>
                            <tr style="background-color: #132649;">
                                <th class="text-center text-white">Month</th>
                                <th class="text-center text-white">Total Working Days</th>
                                <th class="text-center text-white">Present Days</th>
                                <th class="text-center text-white">Absent Days</th>
                                <th class="text-center text-white">Day 1</th>
                                <th class="text-center text-white">Day 2</th>
                                <th class="text-center text-white">Day 3</th>
                                <th class="text-center text-white">Day 4</th>
                                <th class="text-center text-white">Day 4</th>
                                <th class="text-center text-white">Day 5</th>
                                <th class="text-center text-white">Day 6</th>
                                <th class="text-center text-white">Day 7</th>
                                <th class="text-center text-white">Day 8</th>
                                <th class="text-center text-white">Day 9</th>
                                <th class="text-center text-white">Day 10</th>
                                <th class="text-center text-white">Day 11</th>
                                <th class="text-center text-white">Day 12</th>
                                <th class="text-center text-white">Day 13</th>
                                <th class="text-center text-white">Day 14</th>
                                <th class="text-center text-white">Day 15</th>
                                <th class="text-center text-white">Day 16</th>
                                <th class="text-center text-white">Day 17</th>
                                <th class="text-center text-white">Day 18</th>
                                <th class="text-center text-white">Day 19</th>
                                <th class="text-center text-white">Day 20</th>
                                <th class="text-center text-white">Day 21</th>
                                <th class="text-center text-white">Day 22</th>
                                <th class="text-center text-white">Day 23</th>
                                <th class="text-center text-white">Day 24</th>
                                <th class="text-center text-white">Day 25</th>
                                <th class="text-center text-white">Day 26</th>
                                <th class="text-center text-white">Day 27</th>
                                <th class="text-center text-white">Day 28</th>
                                <th class="text-center text-white">Day 29</th>
                                <th class="text-center text-white">Day 30</th>
                                <th class="text-center text-white">Day 31</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <th scope="row">Jan</th>
                                <td>31</td>
                                <td>28</td>
                                <td>3</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                            </tr>
                            <tr class="text-center">
                                <th scope="row">Feb</th>
                                <td>29</td>
                                <td>28</td>
                                <td>1</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                            </tr>
                            <tr class="text-center">
                                <th scope="row">March</th>
                                <td>31</td>
                                <td>29</td>
                                <td>2</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                            </tr>

                            <tr class="text-center">
                                <th>April</th>
                                <td>30</td>
                                <td>29</td>
                                <td>2</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                            </tr>

                            <tr class="text-center">
                                <th scope="row">May</th>
                                <td>31</td>
                                <td>29</td>
                                <td>2</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                                <td>P</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</div>



{% endblock %}