{% extends 'base.html'%}

{% block content %}
{% load static %}



<div class="container-fluid m-0">
    <div class="hk-pg-header mt-3 mb-2">
        <h4><i class="icon" data-icon="y"></i>&nbsp;Assessment</h4>
    </div>
    <section class="hk-sec-wrapper">
        <div class="row">
    
                    <!-- <nav class="navbar bg-sky-dark-5 rounded" id="nav">
                        <div class="container-fluid">
                        <a href="" class="navbar-brand text-white">My Assesments</a>
                        <div class="d-flex offset-md-5">
                            <a href="#" class="text-white" style="text-decoration: none;">Dashboard/</a>
                            <a href="{% url 'courses' %}" class="text-white" style="text-decoration: none;">Back</a>
                        </div>
    
                        </div>
                    </nav> -->
    
    
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="card shadow"  style="width:19rem">
                            <img class="img-top" src="{% static 'img/15.png' %}" alt=" image cap">
                            <div class="card-body">
                                <h5 class="card-title"> Core Python</h5>
                                <p>No of questions: 10</p>
                                <p>Duration: 15min</p>
                                <a href="{% url 'my_course_As1'%} " class="btn" style="text-decoration: none; background-color: #132649; color: white;">Start Test</a>  
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="card shadow"  style="width:19rem">
                            <img class="img-top" src="{% static 'img/14.jpg' %}" alt=" image cap">
                            <div class="card-body">
                                <h5 class="card-title"> Advance Python</h5>     
                                <p>No of questions: 10</p>
                                <p class="card-text">Duration: 15min</p>
                                <a href="{% url 'my_course_As2'%} " class="btn" style="text-decoration: none; background-color: #132649; color: white;">Start Test</a>
                            </div>
                        </div>
                    </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="card shadow"  style="width:19rem">
                            <img class="img-top" src="{% static 'img/14.jpg' %}" alt=" image cap">
                            <div class="card-body">
                                <h5 class="card-title"> Advance Python</h5>
                                <p>No of questions: 10</p>
                                <p class="card-text">Duration: 15min</p>
                                <a href="{% url 'my_course_As2'%} " class="btn" style="text-decoration: none; background-color: #132649; color: white;">Start Test</a>
                            </div>
                        </div>
                    </div>
                    <!-- Additional card elements -->
                </div>
    
    
    </section>
</div>

{% endblock %}
