{% extends 'base/base.html' %}
{% block breadCrum %}

<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Job Gallary</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="">Quality Thoughts</a></li>
      <li class="breadcrumb-item active" aria-current="page">Job Gallary</li>
    </ol>
  </nav>
</div>
<!-- /Breadcrumb -->
{% endblock %} 
{% block content %}
<section class="hk-sec-wrapper">
  <div class="d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-primary mr-2 mb-3"
      data-toggle="modal"
      data-target="#addjob"
    >
    <i class="glyphicon glyphicon-plus"></i> Add Job Post
    </button>
    <a href="{% url 'export_job_posts_to_csv' %}" type="button" class="btn btn-success mr-2 mb-3"><i class="fa fa-download"></i> Print</a>
    
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
          <table id="datable_1" class="table table-hover display pb-30 w-100 table-bordered">
              <thead class="bg-dark">
                  <tr>
                      <th class="text-white">ID</th>
                      <th class="text-white">title</th>
                      <th class="text-white">Company Name</th>
                      <th class="text-white">Location</th>
                      <th class="text-white">Category</th>
                      <th class="text-white">Experience</th>
                      <th class="text-white">Posted Date</th>
                      <th class="text-white">Last Date to apply</th>
                      <th class="text-white text-center">Applied / Eligible / In Progress / Placed</th>
                  </tr>
              </thead>
              <tbody>
                {% for i in job_postes %}
                  <tr>
                      <td>{{i.id}}</td>
                      <td class="text-primary " style="cursor: -webkit-grab; cursor: grab";
                      data-toggle="modal"data-target="#jobdescription{{forloop.counter}}">{{i.job_title}}</td>
                      <td>{{i.companyname.companyname}}</td>
                      <td>{{i.companyname.location}}</td>
                      <td>{{i.companyname.category}}</td>
                      <td>{{i.experience}} years</td>
                      <td>{{i.post_date}}</td>
                      <td>{{i.last_date_to_apply}}</td>
                      <td class="text-center">
                        <a href="{% url 'jobgalleryapplied' %}"><i class="glyphicon glyphicon-user text-primary fs-4"></i></a>120 /
                        <a href="{% url 'jobgalleryeligible' %}"><i class="glyphicon glyphicon-user text-secondary fs-4"></i></a>60 /
                        <a href="{% url 'jobgalleryinprogress' %}"><i class="glyphicon glyphicon-user text-warning fs-4"></i></a>10 /
                        <a href="{% url 'jobgalleryplaced' %}"><i class="glyphicon glyphicon-user text-success fs-4"></i></a>1
                      </td>
                  </tr>
                  {% endfor %}
              </tfoot>
          </table>
      </div>
  </div>
</div>
</section>




<!-- Job description model starts here -->
{% for i in job_postes %}
<div
class="modal fade"
id="jobdescription{{forloop.counter}}"
tabindex="-1"
role="dialog"
aria-labelledby="jobdescription"
aria-hidden="true"
>
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header bg-dark">
      <h5 class="modal-title text-white md-3">Job description</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true" class="text-white">&times;</span>
      </button>
    </div>
      <div class="bg-white ">
        <h5 class="text-danger px-3 pt-2 pb-30 text-center" > QT</h5>
                  <div class="px-3"> 
                      
                  <table class="table table-bordered border">
                    <tr>
                      <td style="font-weight: bold; width: 200px;">Job ID</td>
                      <!-- <td>:</td> -->
                      <td >
                        {{i.id}}
                      </td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Job Title</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.job_title}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Job Category</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.companyname.category}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Experience</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.experience}} years</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Qualification</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.qualification.qualification_name}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Skills</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.skills}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Role</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.role}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Salary</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.salary}}LPA</td>
                    </tr>
                    <tr >
                      <td style="font-weight: bold;">location</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.companyname.location}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Email</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.companyname.email}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Contact Number</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.companyname.mobile}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Last Date to Apply</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.last_date_to_apply}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Posted Date</td>
                      <!-- <td>:</td> -->
                      <td   >{{i.post_date}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Job description</td>
                      <!-- <td>:</td> -->
                      <td>{{i.job_description | safe}}</td>
                    </tr>
                    
                  </table>
                  <div class="text-center py-2">
                    <button
                      type="button"
                      class="btn btn-dark"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                    Close
                  </button>
                </div>
        </div> 
    </div>
    
  </div>
</div>
</div>
{% endfor %}

        <!-- Job description model ends here -->
<!-- Crare job modal starts here -->
        <div class="modal fade" 
        id="addjob" 
        tabindex="-1"
        role="dialog" 
        aria-labelledby="addjob" 
        aria-hidden="true"
     >
      <div class="modal-dialog modal-lg  " role="document">
        <div class="modal-content">
          <form action="{% url 'job_gallery.html' %}" id="createform" method="post">
            {% csrf_token %}
          <div class="modal-header bg-dark">
            <h4 class="modal-title text-white" >Add Job Post</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </div>
    
          <div class="modal-body">
            <!--  -->
            <div class="row">

              <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <label for="" class="form-label">Job Title <span class="text-danger">*</span></label>
                <input type="text"placeholder="Full Stack developer" name="jobtitle" class="form-control jobtitle"/>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <label for="" class="form-label">Company Name <span class="text-danger">*</span></label>
                <!-- <input type="text"placeholder="TCS" name="companyname" class="form-control mb-3"/> -->
                <select class="form-control custom-select company" aria-label="Default select example" name="company" id="company">
                  <option selected value="">Select</option>
                  {% for i in company_vendor %}
                  <option value="{{i.id}}" data-company-id="{{i.id}}">{{i.companyname}} {{i.location}}</option>
                  {% endfor %}
              </select>

              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <label for="" class="form-label">Job Category <span class="text-danger">*</span></label>
                <!-- <input type="text"placeholder="Technical" class="form-control mb-3"/> -->
                <input type="text"placeholder="Technical, Non Technical" name="category" readonly class="form-control category"/>

              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <label for="" class="form-label">Experience <span class="text-danger">*</span></label>
                <input type="text"placeholder="1-2 years" name="experience" class="experience form-control"/>

              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <label for="" class="form-label">Qualification <span class="text-danger">*</span></label>
                <!-- <input type="text"placeholder="Btech" name="qualification" class="form-control mb-3"/> -->
                <select class="form-control custom-select qualification" aria-label="Default select example" name="qualification" >
                  <option selected value="">Select Qualification</option>
                  {% for i in qualification %}
                  <option value="{{i.id}}">{{i.qualification_name}}</option>
                  {% endfor %}
                </select>   
              </div>


              <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <label for="" class="form-label">Skills <span class="text-danger">*</span></label>
                <input type="text"placeholder="Python, django skills" name="skills" class="form-control"/>
              </div>



            

            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
              <label for="" class="form-label">Role <span class="text-danger">*</span></label>
              
              <select class="form-control custom-select role" aria-label="Default select example" name="role" id="role">
                <option selected value="">Select Job Role</option>
                {% for role in job_roles %}
                
                <option value="{{role.id}}" >{{role.jobrole_name}}</option>
                {% endfor %}
            </select>
              
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
              <label for="" class="form-label">Salary <span class="text-danger">*</span></label>
              <input type="text"placeholder="4LPA" name="salary" class="salary form-control"/>


            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
              <label for="" class="form-label">Location <span class="text-danger">*</span></label>
              <input type="text" readonly placeholder="Hyderabad" name="location" class="location form-control"/>


            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
              <label for="" class="form-label">Email <span class="text-danger">*</span></label>
              <input type="email" readonly placeholder="Lokesh@gmail.com" name="email" class="email form-control"/>


            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
              <label for="" class="form-label">Contact Number <span class="text-danger">*</span></label>
              <input type="number"placeholder="9876598765" name="contactnumber" readonly class="contactnumber form-control"/>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
              
              <label for="date-field" class="form-label">Last Date to Apply <span class="text-danger">*</span></label>
              <input type="date" id="last_date_to_apply" name="last_date_to_apply" class="last_date_to_apply form-control"> 

            </div>
            <div class="col-12 ">
              <label for="" class="form-label">Job Description <span class="text-danger">*</span></label>
              <input type="text"placeholder="need skills like python" name="requirements" id="Suggestions" class="form-control mb-3"/>
                 
            </div>
            
          </div>


                  </div>
                  
    
                  <div class="mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary m-1">Add Job Post</button>
                    <button type="reset" class="btn btn-secondary m-1">Reset</button>
                  </div>
                  <!-- <div class="modal-footer justify-content-md-center d-grid gap-2 col-6 mx-auto ">
                    <button type="submit" class="btn btn-info btn-md btn-block" data-bs-dismiss="modal">ADD</button>
                  </div> -->
                </form>
                </div>
              </div>
            </div>        
    
    <!-- Create modal ends here -->

{% endblock %}



{% block scripts %}
<script>
  $(document).ready(function() {
    $('.company').on('change', function() {
      var companyId = $(this).find(':selected').data('company-id');
      if (companyId) {
        $.ajax({
          url: '/get_company_vendor/'+companyId,
          data: {
            'company_id': companyId
          },
          dataType: 'json',
        success: function(data) {
          $('.email').val(data.email);
          $('.location').val(data.location);
          $('.contactnumber').val(data.mobile);
          $('.category').val(data.category);
          }
        });
      } else {
        $('.email').val('');
      $('.location').val('');
      $('.contactnumber').val('');
      $('.category').val('');
      }
    });
  });
</script>

<script>
  $(document).ready(function(){
    $('#createform').validate({
      rules: {
        jobtitle:{
          required:true,
          minlength:3,
          maxlength:50
        },
        company: {
          required: true
        },
        experience: {
          required: true,
          number: true,
          minlength: 1
        },
        qualification: {
          required: true
        },
        skills: {
          required: true,
          minlength: 3,
          maxlength: 100
        },
        role: {
          required: true
        },
        salary: {
          required: true,
          number: true
        },
        last_date_to_apply: {
          required: true
        }
      },
      messages: {
        company: "Please enter the company name",
        experience: {
          required: "Please enter your experience",
          number: "Please enter a valid number",
          minlength: "Please enter at least 1 year of experience"
        },
        jobtitle:{
          required:"Please enter the job title",
          minlength:"Please enter at least 3 characters",
          maxlength:"Please enter no more than 50 characters"
        },
        qualification: "Please enter your qualification",
        skills: {
          required: "Please enter your skills",
          minlength: "Please enter at least 3 characters",
          maxlength: "Please enter no more than 100 characters"
        },
        role: "Please enter the job role",
        salary: {
          required: "Please enter the expected salary",
          number: "Please enter a valid number"
        },
        last_date_to_apply: "Please enter the last date to apply"
      }
    });
  });
  
</script>

<script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
<script>
CKEDITOR.replace('Suggestions')
</script>

{% endblock %}