<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Recipt</title>
    <style>
        table > tbody > tr > td,
        table > tbody > tr > th {
          text-align: start;
          font-size: 20px;
        }
  
        table {
          border: 1px solid gray;
        }

    </style>
</head>
<body>
    <div>
        
        <table>
            <tr>
                <th style="padding: 5px">Admission Id</th>
                <td style="padding: 5px">{{payment.studend_id.token_id}}</td>
            </tr>
            <tr>
                <th style="padding: 5px">Student Name</th>
                <td style="padding: 5px">{{payment.studend_id.first_name}} {{payment.studend_id.last_name}}</td>
            </tr>
            <tr>
                <th style="padding: 5px">Mobile No</th>
                <td style="padding: 5px">{{payment.studend_id.mobile_number}}</td>
            </tr>
            <tr>
                <th style="padding: 5px">Email</th>
                <td style="padding: 5px">{{payment.studend_id.email}} </td>
            </tr>
            <tr>
                <th style="padding: 5px">Course</th>
                <td style="padding: 5px"> {{payment.studend_id.course_name}} </td>
            </tr>
            <tr>
                <th style="padding: 5px">Specialization</th>
                <td style="padding: 5px"> {{payment.studend_id.course_name.specialization.specilalization_name}} </td>
            </tr>
            <tr>
                <th style="padding: 5px">Branch</th>
                <td style="padding: 5px"> {{payment.studend_id.branch_name}} </td>
            </tr>
            <tr>
                <th style="padding: 5px">Batch Number</th>
                <td style="padding: 5px"> {{payment.studend_id.batch_number.batch_number}} </td>
            </tr>
            <tr>
                <th style="padding: 5px">Mode of Payment</th>
                <td style="padding: 5px"> {{payment.mode_of_payment}} </td>
            </tr>
            <tr>
                <th style="padding: 5px">Amount</th>
                <td style="padding: 5px"> {{payment.payment_amount}} </td>
            </tr>
            <tr>
                <th style="padding: 5px">Payment Status</th>
                <td style="padding: 5px"> {{payment.payment_status}} </td>
            </tr>
            <tr>
                <th style="padding: 5px">Payment Date</th>
                <td style="padding: 5px"> {{payment.payment_date}} </td>
            </tr>
        </table>
                    
         
     </div>
</body>
</html>