{% extends 'base/base.html' %} 
{% block title %}QTLineone | Leads{% endblock %}
{% block style %}

<style>
  /* Custom Tooltip Styles */
/* Custom Tooltip Styles */
.tooltip-inner {
    /* Tooltip text color and background */
    color: #fff; /* White text color */
    background-color: #b68ed5 !important; /* Dark background */

    /* Padding and font */
    padding: 8px 15px;
    font-size: 14px;
    font-family: Arial, sans-serif;

    /* Borders and rounded corners */
    border: 1px solid #b68ed5 !important; /* Slight border */
    border-radius: 4px;
}

/* Tooltip arrow color */
.tooltip.bs-tooltip-top .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #b68ed5 !important; /* Top arrow */
}

.tooltip.bs-tooltip-right .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #b68ed5 !important /* Right arrow */
}

.tooltip.bs-tooltip-bottom .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #b68ed5 !important /* Bottom arrow */
}

.tooltip.bs-tooltip-left .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #b68ed5 !important; /* Left arrow */
}

</style>
{% endblock %}
{% block breadCrum %}


{% endblock %} 



{% block profile %}
<div class="row">
  <div class="col-xl-12 pa-0">
      <div class="profile-cover-wrap overlay-wrap">
          <div class="profile-cover-img" style="background-image:url('../../static/dist/img/bg2.jpg')"></div>
          <div class="bg-overlay bg-trans-dark-60"></div>
          <div class="container profile-cover-content py-50">
              <div class="hk-row"> 
                  <div class="col-lg-5">
                      <div class="media align-items-center">
                          <div class="media-img-wrap  d-flex">
                              <div class="avatar">
                                  <img src="../../static/dist/img/avatar1.jpg" alt="user" class="avatar-img rounded-circle">
                              </div>
                          </div>
                          <div class="media-body">
                              <div class="text-white text-capitalize display-6 mb-5 font-weight-400 ">{{request.session.admin_user.full_name}}</div>
                              <div class="font-14 text-white">
                                  <span class="mr-5">
                                      <span class="font-weight-bold pr-5">JOINING DATE:</span>
                                      <span class="mr-5">{{request.session.admin_user.register_date}}</span>
                                  </span>
                                </div>
                                <div class="font-14 text-white" >

                                  <span>
                                    <span class="font-weight-bold pr-5">Department:</span>
                                    <span>{% if request.session.admin_user %} Admin  {% endif %}</span>
                                  </span>
                                </div>
                                  
                          </div>
                      </div>
                  </div>
                 
                  <div class="col-lg-8">
                      <!-- <div class="container mt-3 ml-md-100">
                                                          <div class="row">
                                                          
                      <div class="col-md-3">
                          <div class="stats-card p-2 mb-3 text-white" style="border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background-color: rgba(23, 163, 184, 0.479);">
                              <h5 class="stats-title  text-white"><i class="fa fa-microphone text-dark" aria-hidden="true"></i> Enquiries</h5>
                              <div class="stats-number ml-25">{{ leads_count }}</div>
                          </div>
                      </div>

                
                      <div class="col-md-3">
                          <div class="stats-card p-2 mb-3 text-dark" style="border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background-color: rgba(107, 111, 231, 0.458);">
                              <h5 class="stats-title  text-white"><i class="fa fa-retweet text-dark" aria-hidden="true"></i> Follow-ups</h5>
                              <div class="stats-number text-white ml-30">{{ other_count }}</div>
                          </div>
                      </div>

             
                      <div class="col-md-3">
                          <div class="stats-card p-2 mb-3 text-white" style="border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background-color: rgba(235, 115, 137, 0.468);">
                              <h5 class="stats-title  text-white"><i class="fa fa-user text-dark" aria-hidden="true"></i> Admissions</h5>
                              <div class="stats-number ml-30">{{ admissions_count }}</div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div id="latestEnquiries" class="notification-card" class="stats-card p-2 mb-3 text-white" style="border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background-color: rgba(235, 115, 137, 0.468);">
                             
                          </div>
                      </div>
                      <div >
                      
                      </div>
                      
                          </div>
                      </div> -->
                  </div>
                  
                  
              </div>
          </div>
      </div>
      
      <div class="bg-white shadow-bottom">
          <div class="container">
              <ul class="nav nav-light nav-tabs" role="tablist">
                  <li class="nav-item">
                      <a class="d-flex h-60p align-items-center nav-link {% if request.resolver_match.url_name == 'lead_prospects' %}active{% endif %}" href="{% url 'lead_prospects' %}">Prospects &nbsp;&nbsp;<span class="badge badge-primary badge-pill d-block"> 
                        {% if prospect_count %}
                        {{prospect_count}}

                          {% else %}
                          0
                          {% endif %}

                      </span></a>
                  </li>
                  <li class="nav-item">
                      <a class="d-flex h-60p align-items-center nav-link active" href="{% url 'leads' %}">Leads &nbsp;&nbsp;<span class="badge badge-warning badge-pill d-block"> {% if lead_count %}
                        {{lead_count}}

                          {% else %}
                          0
                          {% endif %}</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="d-flex h-60p align-items-center nav-link " href="{% url 'mql' %}">MQL &nbsp;&nbsp;<span class="badge badge-secondary badge-pill d-block"> {% if mql_count %}
                        {{mql_count}}

                          {% else %}
                          0
                          {% endif %}</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="d-flex h-60p align-items-center nav-link {% if active_tab == 'sql' %}active{% endif %}" href="{% url 'sql' %}">SQL &nbsp;&nbsp;<span class="badge badge-light badge-pill d-block"> {% if sql_count %}
                        {{sql_count}}

                          {% else %}
                          0
                          {% endif %}</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="d-flex h-60p align-items-center nav-link {% if active_tab == 'opportunity' %}active{% endif %}" href="{% url 'opportunity' %}">Opportunity &nbsp;&nbsp;<span class="badge badge-info badge-pill d-block"> {% if opportunity_count %}
                      {{opportunity_count}}
                      
                      {% else %}
                      0
                      {% endif %}</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="d-flex h-60p align-items-center nav-link {% if active_tab == 'admission' %}active{% endif %}" href="{% url 'admissions' %}">Admissions &nbsp;&nbsp;<span class="badge badge-success badge-pill d-block"> {% if admission_count %}
                        {{admission_count}}
                        
                        {% else %}
                        0
                        {% endif %}</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="d-flex h-60p align-items-center nav-link {% if active_tab == 'request_discounts' %}active{% endif %}" href="{% url 'request_discounts' %}">Request Discounts &nbsp;&nbsp;<span class="badge badge-dark badge-pill d-block"> {% if request_discount_count %}
                            {{request_discount_count}}
    
                              {% else %}
                              0
                              {% endif %}</span></a>
                            </li>
                  <li class="nav-item">
                      <a class="d-flex h-60p align-items-center nav-link {% if active_tab == 'spam' %}active{% endif %}" href="{% url 'spam' %}">Spam List &nbsp;&nbsp;<span class="badge badge-danger badge-pill d-block"> {% if spam_count %}
                        {{spam_count}}

                          {% else %}
                          0
                          {% endif %}</span></a>
                  </li>
                  

                  <!-- Add other tabs with similar logic -->
              </ul>
          </div>
      </div>
      
</div>
<!-- /Row -->
</div>

{% endblock %}


{% block content %}

<!-- <div class="button_operations d-flex justify-content-end"  id="button_operations">
  
</div> -->

{% if messages %}
 {% for message in messages %}
   {% if message.tags == "error" %}
     <div class="h-25 alert alert-danger alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
   {% elif message.tags == "success" %}
     <div class="h-25 alert alert-success alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
     {% else %}
    <div class="h-25 alert alert-info alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
               {% endif %}
   {% endfor %}
 {% endif %}

<section class="hk-sec-wrapper">
    <div class="row">
        <div class="col">
          
        </div>
      
        <div class="button_operations   col-auto ml-auto p-0 mb-3"  id="button_operations">
            
        </div>
      </div>


  <div class="row">
    <div class="col-sm">
      <div class=" table-wrap">
        <table
        id="datable_1"
        class="table table-hover w-100 display pb-30 table-bordered">
        <thead class="bg-dark">
          <tr>
            <th class="text-white  text-center">
              <p class="mr-5">All<input type="checkbox" class="form-check-input" style="margin-left:3px; margin-right: 20px;" id="checkAll"></p>
              
          </th>
            <th class="text-white">Token ID</th>
            <th class="text-white">Student Name</th>
            <th class="text-white">Mobile No</th>
            <th class="text-white">Email</th>
            <th class="text-white">Course</th>
            <th class="text-white">Training Type</th>
            <th class="text-white">Lead Source</th>
            <th class="text-white">Lead Stage</th>
            <!-- <th class="text-white">Branch Name</th> -->
            
           
            
                          
            
          </tr>
        </thead>
        <tbody>
          {% for i in leads %}
          <tr>
          
          <td><input type="checkbox" class="row-checkbox" id="selectAll" data-id="{{i.id}}"></td>
          <td>
            <span data-toggle="tooltip" data-html="true" >
              {{i.token_id}}
            </span>
          </td>
          <td>{{i.first_name}} {{i.last_name}}</td>
          <td>{{i.mobile_number}}</td>
          <td>{{i.email}}</td>
          <td>{{i.course_name.course_name}}</td>
          <!-- <td>{{i.course_faculty}}</td> -->
          <!-- <td>{{i.course_fee}}</td> -->
          <td>{{i.training_type.TrainingTypeName}}</td>
          <td>{{i.lead_sourse.prospect_type}}</td>
          <td>{{i.lead_stage.Leadstage_name}}</td>
          
          <!-- <td>{{i.branch_name}}</td> -->
          
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
       
      </div>
    </div>
  </div>
</section>

<!-- create model start here -->

<div
  class="modal fade"
  id="CreateCourse"
  tabindex="-1"
  role="dialog"
  aria-labelledby="CreateCourse"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Create New Course</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="mb-3">
            <label for="" class="form-label"
              >Course Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              placeholder="Ex: Python, Java"
              class="form-control"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>
    </div>
  </div>
</div>

<!-- Create model end here -->
<!-- Lead stage model start here -->
{% for i in leads %}

<div
  class="modal fade"
  id="Democourse{{i.id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="CreateCourse"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Lead Stage</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
           <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'lead_stage' i.id %}" method="post"  class="leadstageValid">
          {% csrf_token %}
          <div class="mb-3">
            <label for="leadstage" class="form-label">Lead Stage <span class="text-danger">*</span></label>
            <select id="leadstage" class="custom-select form-control" name="leadstage">
              <option selected disabled>Select Lead Stage</option>
              {% for i in lead_stage %}
              <option value="{{i.id}}" >{{i.Leadstage_name}}</option>
              {% endfor %}
              
            </select>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>

{% endfor %}
<!-- Edit model start here -->

<div
  class="modal fade"
  id="EditCourse"
  tabindex="-1"
  role="dialog"
  aria-labelledby="EditCourse"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Edit Course</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="mb-3">
            <label for="" class="form-label"
              >Course Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              placeholder="Ex: Python, Java"
              class="form-control"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Submit</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit model end here -->

<!-- spam model start here -->

<!-- spam model end here -->


<!-- lead modal -->
 <!-- Modal -->
 {% for i in leads %}
 <div class="modal fade" id="submitmodal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="submitmodal{{i.id}}" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header bg-dark">
              <h5 class="modal-title text-white">Marketing Qualified Lead</h5>
              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          
          <div class="modal-body ">
            <form action="{% url 'lead_move_to_mql' i.id %}" method="post" class="row g-3 mqlForm">

                {%  csrf_token %}
              
                <div class="col-md-6 mb-3">
                  <label for="Tokenid" class="form-label">Token Id <span class="text-danger">*</span></label>
                  <input type="text" class="form-control  bg-light text-secondary" id="Tokenid" value="{{i.token_id}}" disabled>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="studentname" class="form-label">Student Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control  bg-light text-secondary" id="studentname" value="{{i.first_name}} {{i.last_name}}" disabled>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="mblno" class="form-label">Mobile No <span class="text-danger">*</span></label>
                  <input type="tel" class="form-control  bg-light text-secondary" id="mblno" value="{{i.mobile_number}}" disabled>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                  <input type="email" class="form-control  bg-light text-secondary" id="email" value="{{i.email}}" disabled>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="courseinput" class="form-label">Course <span class="text-danger">*</span></label>
                  <input type="text" class="form-control  bg-light text-secondary" id="courseinput" value="{{i.course_name.course_name}}" disabled>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="courseFaculty" class="form-label">Course Faculty <span class="text-danger">*</span></label>
                  <select class="custom-select form-control" name="courseFaculty" >
                    <option value="" selected>Select your Faculty</option>
                  
                      {% for emp in faculty %}
                          {% if emp.branch == i.branch_name and emp.course_id == i.course_name.course_name and emp.specialization_id == i.course_name.specialization %}
                          <option value="{{emp.id}}" {% if i.faculty == emp.id %} selected {% endif %}  >{{emp.first_name}} {{emp.last_name}}</option>
                          {% endif %}
                          {% endfor %}
                    </select>

                    
                </div>
                <div class="col-md-4 mb-3">
                  <label for="trainingType" class="form-label">Training Type <span class="text-danger">*</span></label>
                  <input type="text" class="form-control  bg-light text-secondary" id="trainingType" value="{{i.training_type.TrainingTypeName}}" disabled>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="branch" class="form-label">Branch <span class="text-danger">*</span></label>
                  <input type="email" class="form-control  bg-light text-secondary" id="branch" value="{{i.branch_name}}" disabled>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="Leadsource" class="form-label">Lead Source <span class="text-danger">*</span></label>
                  <input type="text" class="form-control  bg-light text-secondary" id="Leadsource" value="{{i.lead_sourse.prospect_type}}" disabled>
                </div>
                
                <div class="col-md-6 mb-3">
                  <label for="leadType" class="form-label">Lead Type <span class="text-danger">*</span></label>
                  <select id="leadType" class="custom-select form-control" name="leadType">
                    <option selected disabled>Select Lead Type</option>
                    <option value="WARM">warm</option>
                    <option value="COLD">cold</option>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="demodate" class="form-label">Schedule Demo <span class="text-danger">*</span></label>
                  <select id="demodate" class="custom-select form-control" name="demodate">
                    <option selected disabled>Select Demo Date</option>
                    {% for demos in demo %}
                    {% if demos.course == i.course_name.course_name and demos.specialization == i.course_name.specialization %}
                    <option value="{{demos.id}}">{{demos.datestartat}} - {{demos.dateendat}}</option>
                    {% endif %}
                    {% endfor %}
                    
                  </select>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="Leaddescription" class="form-label">Lead Description <span class="text-danger">*</span></label>
                
                  <textarea name="Leaddescription" class="form-control text-secondary" id="Leaddescription" cols="30" rows="3" placeholder="Enter Your Feedback here"></textarea>
                </div>

                <div class="mb-3 d-flex justify-content-center col-md-12 mb-3">
                  <button type="submit" class="btn btn-primary m-1">Submit</button>
                  <button type="reset" class="btn btn-secondary m-1" >Reset</button>
                </div>
              </form>
          </div>
          
      </div>
  </div>
</div>
<!-- Modal -->
{% endfor %}

<!-- admission modal -->
{% for i in leads %}
<div class="modal fade" id="sumbit_admissoinmodal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="sumbit_admissoinmodal{{i.id}}" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header bg-dark">
              <h5 class="modal-title text-white">Admission Form</h5>
              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          
          <div class="modal-body ">
            <form action="{% url 'move_to_admission' i.id %}" class="row g-3 admissionValid" method="post">
              {% csrf_token %}
            
              <div class="col-md-6 mb-3">
                <label for="Tokenid" class="form-label">Token Id <span class="text-danger">*</span></label>
                <input type="text" class="form-control  bg-light text-secondary" id="Tokenid" value="{{i.token_id}}" disabled>
              </div>
              <div class="col-md-6 mb-3">
                <label for="studentname" class="form-label">Student Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control  bg-light text-secondary" id="studentname" value="{{i.first_name}} {{i.last_name}}" disabled>
              </div>
              <div class="col-md-6 mb-3">
                <label for="mblno" class="form-label">Mobile No <span class="text-danger">*</span></label>
                <input type="tel" class="form-control  bg-light text-secondary" id="mblno" value="{{i.mobile_number}}" disabled>
              </div>
              <div class="col-md-6 mb-3">
                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control  bg-light text-secondary" id="email" value="{{i.email}}" disabled>
              </div>
              <div class="col-md-6 mb-3">
                <label for="courseinput" class="form-label">Course <span class="text-danger">*</span></label>
                <input type="text" class="form-control  bg-light text-secondary" id="courseinput" value="{{i.course_name.course_name}}" disabled>
              </div>
              <div class="col-md-6 mb-3">
                <label for="courseFaculty" class="form-label">Course Faculty <span class="text-danger">*</span></label>
      
<select class="custom-select form-control" name="courseFaculty" >
<option value="" selected>Select your Faculty</option>
{% for emp in faculty %}
{% if emp.branch == i.branch_name and emp.course_id == i.course_name.course_name and emp.specialization_id == i.course_name.specialization %}
<option value="{{emp.id}}" {% if i.faculty == emp.id %} selected {% endif %}  >{{emp.first_name}} {{emp.last_name}}</option>
{% endif %}
{% endfor %}
</select>

              </div>
              <div class="col-md-4 mb-3">
                <label for="plan" class="form-label">Plan <span class="text-danger" >*</span></label>
                <input type="text" class="form-control  bg-light text-secondary" id="plan" value="{{i.course_name.course_plan.plan_name}}" disabled>
                
              </div>
              <div class="col-md-4 mb-3">
                <label for="demodate" class="form-label">Attended Demo On <span class="text-danger">*</span></label>
               
                <input type="text" class="form-control  bg-light text-secondary" id="demodate" value="{{i.demo.datestartat |default:'Not Attend'}}" disabled>
               
              </div>
              <div class="col-md-4 mb-3">
                <label for="batchno" class="form-label">Batch Number <span class="text-danger">*</span></label>
                <select id="batchno" class="custom-select form-control" name="batchno">
                  <option selected disabled>Select the Batch Number</option>
                  {% for batch in batches %}
                  {% if i.course_name.course_name == batch.course_id and i.course_name.specialization == batch.spec_id %}
                  <option value="{{batch.id}}">{{batch.batch_number}}</option>
                  {% endif %}
                  {% endfor %}

                </select>
                
              </div>
              <!--  -->
              <div class="col-md-4 mb-3">
                <label for="courseFee" class="form-label">Course Fee <span class="text-danger">*</span></label>
                <input type="text" class="form-control  bg-light text-secondary" id="courseFee" value="{{i.course_name.course_fee}}" disabled>
              </div>
              <div class="col-md-4 mb-3">
                <label for="discount" class="form-label">Discount Fee up to  <span class="text-danger">*</span></label>
                <input type="text" class="form-control bg-light text-secondary" id="discount" placeholder="Discount Fee (%)" value="{{i.course_name.discount}}%" disabled>
              </div>
              <div class="col-md-4 mb-3">
                <label for="finalFee" class="form-label">Final Fee <span class="text-danger">*</span></label>
                <input type="text" class="form-control bg-light text-secondary" id="finalFee" placeholder="Final Fee" value="{{i.course_name.final_price}}" disabled>
              </div>
              
              <!--  -->

              <div class="col-md-4 mb-3">
                <label for="trainingType" class="form-label">Training Type <span class="text-danger">*</span></label>
                <input type="text" class="form-control  bg-light text-secondary" id="trainingType" value="{{i.training_type.TrainingTypeName}}" disabled>
              </div>
              <div class="col-md-4 mb-3">
                <label for="branch" class="form-label">Branch <span class="text-danger">*</span></label>
                <input type="email" class="form-control  bg-light text-secondary" id="branch" value="{{i.branch_name}}" disabled>
              </div>
              <div class="col-md-4 mb-3">
                <label for="Leadsource" class="form-label">Lead Source <span class="text-danger">*</span></label>
                <input type="text" class="form-control  bg-light text-secondary" id="Leadsource" value="{{i.lead_sourse.prospect_type}}" disabled>
              </div>
              <div class="col-md-6 mb-3">
                <label for="admissionFee" class="form-label">Admission Fee <span class="text-danger" >*</span></label>
                <input type="text" class="form-control text-secondary" id="admissionFee" name="admissionFee" placeholder="0.00">
              </div>
              
              <div class="col-md-6 mb-3">
                <label for="remainingfee" class="form-label">Remaining Fee <span class="text-danger">*</span></label>
                <input type="text" class="form-control text-secondary" id="remainingfee" name="remainingfee" placeholder="0.00" readonly>
              </div>
              <!-- payment details -->
              <div class="col-md-6 mb-3">
                <label for="paymenttype" class="form-label">Mode of Payment <span class="text-danger">*</span></label>
                <select id="paymenttype" class="custom-select form-control payment_type" name="paymenttype">
                    <option selected disabled>Select Mode of Payment</option>
                    <option value="UPI">UPI</option>
                    <option value="Cash">Cash</option>
                    <option value="netbanking">Bank Transfer</option>
                </select>
            </div>
            
            <!-- UPI Details -->
            <div class="col-md-6 mb-3 upi_dropdown" id="UPI" style="display: none;">
                <label for="" class="form-label">UPI Payment</label>
                <select name="upi_id_id" class="custom-select form-control upi_drop_select" id="">
                    <option value="" selected>Select your UPI</option>
                    {% for i in upi %}
                    <option value="{{i.id}}">{{i.upipayments_name}} {{i.upiid}}</option>
                    {% endfor %}
                </select>
            </div>
            
            {% for i in upi %}
            <div class="col-md-6 mb-3 upi_id" id="upi_id{{i.id}}" style="display: none;">
              <label for="" class="form-label">UPI ID</label>
                <input type="text" readonly  value="{{i.upiid}}" class="form-control upi_id_input">
            </div>
            {% endfor %}
            
            {% for i in upi %}
            <div class="col-md-6 mb-3 upi_id_img" id="upi_id_img{{i.id}}" style="display: none;">
              <span data-toggle="modal" data-target="#qrcode{{i.id}}">  <img src="../../../static/media/{{i.upi_qr_code}}"  alt="hello" width="100%" height="100%">
              </span>
            </div>
            {% endfor %}
            
            <div class="col-md-6 mb-3 net_banking_div" style="display: none;">
                <label for="" class="form-label">Net Banking</label>
                <select name="net_banking_id" class="custom-select form-control net_banking_select" id="">
                    <option value="" selected>Select your Net Banking</option>
                    {% for net in net_banking %}
                    <option value="{{net.id}}">{{net.netbanking_name}}</option>
                    {% endfor %}
                </select>
            </div>
            
            {% for net in net_banking %}
            <div class="col-md-6 mb-3 net-baking_all net-baking_all{{net.id}}" style="display: none;">
                <div class="">
                  <label for="" class="form-label">Net Banking Name</label> 
                    <input type="text" readonly value="{{net.netbanking_name}}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-6 mb-3 net-baking_all net-baking_all{{net.id}}" style="display: none;">
                <div class="">
                  <label for="" class="form-label">IFSC code</label>
                    <input type="text" readonly value="{{net.ifscode}}" class="form-control">
                </div>
            </div>
            <div class="col-md-6 mb-3 net-baking_all net-baking_all{{net.id}}" style="display: none;">
                <div class="">
                  <label for="" class="form-label">Account Number</label>
                    <input type="text" readonly value="{{net.accountnumber}}" class="form-control">
                </div>
            </div>
            {% endfor %}
          <div class="col-md-6 mb-3 transaction-id" style="display: none;">
            <label for="" class="form-label">Transaction Id </label>
            <input type="text" class="form-control text-secondary" id="transactionId" name="transactionId">
        </div>
        
    

              
    
    
    

              
              <div class="modal-footer d-flex justify-content-center col-md-12 mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary" >Reset</button>
              </div>
            </form>

          </div>
          
      </div>
  </div>
</div>
{% endfor %}
<!-- Modal -->

<!-- Spam Confirmation Modal -->
<!-- for single spam -->
{% for i in upi %}
<div class="modal fade" id="qrcode{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="spam" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white"  id="confirmSpamModalLabel">QR Code of {{i.upiid}}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
          
          <div class=" text-center">
            <div class="d-flex justify-content-center p-3">

              <img src="../../static/media/{{i.upi_qr_code}}" width="100%" height="100%" alt="">
            </div>
            
            
            
          </div>
         
       
        
      </div>
    
    </div>
  </div>
</div>
{% endfor %}

<!-- for multiple spam -->
<!-- confirmSpamModal -->

<div class="modal fade" id="spamModal" tabindex="-1" role="dialog" aria-labelledby="spamModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white"  id="spamModal">Mark As Spam</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'mark_as_spam' %}" method="post">
          {% csrf_token %}
          <div class="mb-3 text-center">
            <div class="d-flex justify-content-center mb-3">

              <img src="../../static/triangle-exclamation-solid.svg" width="120" height="70" alt="">
            </div>
            
            Are you sure you want to mark the selected leads as spam?
            <div id="hiddenInputContainer"></div>
            
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-secondary m-1"
              data-dismiss="modal"
              aria-label="Close"
            >
              No
            </button>
            <button type="submit" class="btn btn-danger m-1">Yes</button>
            
          </div>
        </form>
        
      </div>
    
    </div>
  </div>
</div>







{% endblock %}




{% block scripts %}

  


<script>



  
    $(document).ready(function() {
       // alert message container
       setTimeout(function() {
        $(".alert").fadeOut("slow", function() {
            // This function is called after the fadeOut completes
            $(this).remove(); // Removes the element from the DOM
        });
    }, 5000);

      $('[data-toggle="tooltip"]').tooltip(); // Initializes all tooltips
    // Function to update button operations
   



    function updateButtonOperations() {
        var selectedCount = $('.row-checkbox:checked').length;
        var buttonsHtml = '';

        if (selectedCount >= 1) {
            // When at least one checkbox is selected
            var prospectId = $('.row-checkbox:checked').data('id');
            buttonsHtml = `
                <button class="btn btn-info mr-2 demo-details" data-target="#Democourse${prospectId}"><i class="fa fa-plus-circle"></i> Add Lead stage</button>
                <button class="btn btn-dark mr-2 view-details" data-target="#submitmodal${prospectId}"><i class="fa fa-send-o"></i> Send To MQL</button>
                <button class="btn btn-primary mr-2 view-admission" data-target="#sumbit_admissoinmodal${prospectId}"><i class="fa fa-user"></i> Admission</button>
                <button class="btn btn-danger mr-2 view-spam" data-target="#spamModal"><i class="fa fa-info-circle"></i> Spam</button>
            `;
            if(selectedCount > 1) {
                // When multiple checkboxes are selected, adjust the buttons accordingly
                buttonsHtml = `
                <button class="btn btn-dark mr-2"><i class="fa fa-envelope"></i> Email</button>
                        <button class="btn btn-success mr-2"><i class="fa fa-phone"></i> WhatsApp</button>
                        <button class="btn btn-info mr-2"><i class="fa fa-comments"></i> SMS</button>
                        <button class="btn btn-danger mr-2 view-spam-all" data-target="#spamModal"><i class="fa fa-info-circle"></i> Spam</button>
                `;
            }
        }

        $('#button_operations').html(buttonsHtml);
    }

    

    // Use event delegation for dynamically added "Edit" and "Delete" buttons
    $('#button_operations').on('click', '#openEditModal', function() {
        $('#EditCourse').modal('show');
    });

  

    // $('#button_operations').on('click', '#opensendModal', function() {
    //     $('#sumbitmodal${prospectId}').modal('show');
    // });
    $('#button_operations').on('click', '.view-details', function() {
        var targetModal = $(this).data('target');
        $(targetModal).modal('show');
    });
    $('#button_operations').on('click', '.view-admission', function() {
        var targetModal = $(this).data('target');
        $(targetModal).modal('show');
    });
    
    $('#button_operations').on('click', '.demo-details', function() {
        var targetModal = $(this).data('target');
        $(targetModal).modal('show');
    });
    $('#button_operations').on('click', '.view-spam', function() {
        var targetModal = $(this).data('target');
        $(targetModal).modal('show');
    });

    $('#button_operations').on('click', '.view-spam-all', function() {
      var selectedIds = $('.row-checkbox:checked').map(function() {
            return $(this).data('id');
        }).get();
        
        var container = $('#selectedLeadsContainer');
        container.empty(); // Clear previous inputs

        // Create hidden inputs for each selected ID and append to the container
        $.each(selectedIds, function(index, id) {
            $('<input>').attr({
                type: 'hidden',
                name: 'selected_ids[]',
                value: id
            }).appendTo(container);
        });
        var targetModal = $(this).data('target');
        $(targetModal).modal('show');
    });


    // Attach change event listener to checkboxes for row selection
    $(document).on('change', '.row-checkbox', function() {
        // Check if all checkboxes are selected
        var allChecked = $('.row-checkbox').length === $('.row-checkbox:checked').length;
        $('#checkAll').prop('checked', allChecked);
        updateButtonOperations();
    });
  
    // "Check All" functionality
    $('#checkAll').change(function() {
        $('.row-checkbox').prop('checked', this.checked);
        updateButtonOperations();
    });
});

  // discount fee
// discount fee
function updateFinalFee(modal) {
    var courseFee = parseFloat(modal.find('#courseFee').val()) || 0;
    var discountInput = modal.find('#discount').val();
    var discount = parseFloat(discountInput) || 0;

    if (discountInput === "") {
        // If the discount field is empty, clear the final fee field
        modal.find('#finalFee').val('');
    } else if (discount >= 1 && discount <= 100) {
        // If the discount is within the valid range, calculate the discounted final fee
        var discountAmount = (courseFee * discount) / 100;
        var finalFee = courseFee - discountAmount;
        modal.find('#finalFee').val(finalFee.toFixed(2));
    } else {
        // If the discount is not within the valid range, you could choose to not update the final fee
        // or set it back to the original course fee. Uncomment the line below as needed.
        // modal.find('#finalFee').val(courseFee.toFixed(2));
    }
}

// Event listener for changes in the discount input field within any modal
$('.modal').on('input', '#discount', function() {
    // Find the closest modal to the discount input field that triggered the event
    var modal = $(this).closest('.modal');
    updateFinalFee(modal);
});


     // admission Fee
   // Updates the remaining fee, ensuring the admission fee is within a valid range
 // Updates the remaining fee, ensuring the admission fee is within a valid range
function updateRemainingFee(modal) {
    var finalFee = parseFloat(modal.find('#finalFee').val()) || 0;
    var admissionFeeInput = modal.find('#admissionFee').val();
    var admissionFee = parseFloat(admissionFeeInput) || 0;

    if (admissionFeeInput === "") {
        // If the admission fee field is empty, clear the remaining fee field
        modal.find('#remainingfee').val('');
    } else if (admissionFee >= 1000 && admissionFee <= finalFee) {
        // If the admission fee is within the valid range, calculate the remaining fee
        var remainingFee = finalFee - admissionFee;
        modal.find('#remainingfee').val(remainingFee.toFixed(2));
    } else {
        // Optionally, reset or mark the remaining fee as invalid if conditions are not met
        // modal.find('#remainingfee').val("Invalid");
    }
}

// Listen for changes in the Admission Fee input field within the current modal
$('.modal').on('input', '#admissionFee', function() {
    var modal = $(this).closest('.modal');
    updateRemainingFee(modal);
});

   

    // for payment related functionality
    function showPaymentFields(uniqueId) {
    // Hide all payment detail fields initially
    document.querySelectorAll('.payment-details' + uniqueId).forEach(function(element) {
        element.style.display = 'none';
    });

    // Get selected payment type using the uniqueId
    var paymentType = document.getElementById('paymenttype' + uniqueId).value;

    // Show the fields related to the selected payment type
    if (paymentType !== 'Select Mode of Payment') {
        var selectedPaymentDiv = document.getElementById(paymentType + uniqueId);
        if (selectedPaymentDiv) {
            selectedPaymentDiv.style.display = 'block';
        }
    }
}

    </script>

<!-- mql form validation -->

<!-- fileds validations -->
<script>
  $(document).ready(function() {
      // Add validation rules to your form

      // Add custom validation method to compare admission fee and course fee
      $.validator.addMethod("maxCourseFee", function(value, element) {
        var admissionFee = parseFloat(value);
        var courseFee = parseFloat($("#courseFee").val());
        return admissionFee <= courseFee;
      }, "Admission fee cannot exceed the course fee");





    $(".admissionValid").validate({
      rules: {
        admissionFee: {
          required: true,
          number: true
        },
        courseFaculty:{
          required:true
        },
        batchno:{
          required:true
        },
        admissionFee: {
          required: true,
          number: true,
          min: 500,
          maxCourseFee: true
        },
        upi_id_id:{
          required:true
        },
        net_banking_id:{
          required:true
        }
        ,
        paymenttype: {
          required: true
        },

        transactionId: {
          required: function(element) {
            return $("#paymenttype").val() !== "Cash";
          }
        },
        paytmNumber: {
          required: function(element) {
            return $("#paymenttype").val() === "UPI";
          }
        },
        paytmTransactionId: {
          required: function(element) {
            return $("#paymenttype").val() === "UPI";
          }
        },
        bankAccount: {
          required: function(element) {
            return $("#paymenttype").val() === "netbanking";
          }
        },
        bankTransactionId: {
          required: function(element) {
            return $("#paymenttype").val() === "netbanking";
          }
        }
      },
      messages: {
        // Define custom error messages for each field
        admissionFee: {
          required: "Please enter the admission fee",
          number: "Please enter a valid number"
        },
        courseFaculty:{
          required:"Please select a faculty"
        },
        batchno:{
          required:"Please select a batch no."
        },
        paymenttype: {
          required: "Please select a payment type"
        },
        upi_id_id:{
          required:"Please select your UPI ID"
        },
        net_banking_id:{
          required:"Please select you net banking"
        },
        transactionId: {
          required: "Please enter the transaction ID"
        },
        paytmNumber: {
          required: "Please enter the Paytm number"
        },
        paytmTransactionId: {
          required: "Please enter the Paytm transaction ID"
        },
        bankAccount: {
          required: "Please enter the bank account number"
        },
        admissionFee: {
          required: "Please enter the admission fee",
          number: "Please enter a valid number",
          min: "Admission fee must be at least 500",
          maxCourseFee: "Admission fee cannot exceed the course fee"
        },
        bankTransactionId: {
          required: "Please enter the bank transaction ID"
        }
      }
    });
  });
</script>
    



  <!-- Lead stage validation -->
  
<!-- fileds validations -->
<script>
  $(document).ready(function(){
    $(".leadstageValid").each(function(){
      $(this).validate({
        rules: {
          leadstage: {
                  required: true,
                  
              }
          },
          messages: {
            leadstage: {
                  required: "Please Select the Lead Stage.",
                  
              }
          },
  
          submitHandler: function (form) {
          form.submit()
          }
        })
     });
  
    })
  
  
  </script>
<!-- for multiple spam list -->

<!-- Your existing HTML code -->

<!-- Your HTML code -->

<script>
  // Get references to the necessary elements
  const rowCheckboxes = document.querySelectorAll('.row-checkbox');
  const selectAllCheckbox = document.getElementById('checkAll');
  const hiddenInputContainer = document.getElementById('hiddenInputContainer');

  // Add event listener to the "All" checkbox
  selectAllCheckbox.addEventListener('change', handleSelectAllChange);

  // Add event listeners to each row checkbox
  rowCheckboxes.forEach(checkbox => {
    checkbox.addEventListener('change', handleCheckboxChange);
  });

  function handleSelectAllChange(event) {
    const isChecked = event.target.checked;
    rowCheckboxes.forEach(checkbox => {
      checkbox.checked = isChecked;
      handleCheckboxChange({ target: checkbox });
    });
  }

  function handleCheckboxChange(event) {
    const checkbox = event.target;
    const leadId = checkbox.dataset.id;

    // Check if the checkbox is checked or unchecked
    if (checkbox.checked) {
      // Create a new hidden input field with the lead ID
      const hiddenInput = document.createElement('input');
      hiddenInput.type = 'hidden';
      hiddenInput.name = 'selected_id';
      hiddenInput.value = leadId;
      hiddenInputContainer.appendChild(hiddenInput);
    } else {
      // Remove the hidden input field for the unchecked lead ID
      const hiddenInput = hiddenInputContainer.querySelector(`input[value="${leadId}"]`);
      if (hiddenInput) {
        hiddenInputContainer.removeChild(hiddenInput);
      }
    }
  }
</script>


  v
<script>
  $(document).ready(function() {
    // Initialize visibility of elements
    var upiDropdown = $('.upi_dropdown');
    var netBankingDiv = $('.net_banking_div');
    var transactionIdDiv = $('.transaction-id');
    upiDropdown.hide();
    netBankingDiv.hide();
    transactionIdDiv.hide();

    $('.payment_type').change(function() {
        var paymentType = $(this).val();

        if (paymentType === 'UPI') {
            upiDropdown.show();
            netBankingDiv.hide();
            $('.net_banking_select').val('');
            $('.net-baking_all').hide();
            transactionIdDiv.show();
        } else if (paymentType === 'netbanking') {
            upiDropdown.hide();
            netBankingDiv.show();
            $('.upi_drop_select').val('');
            $('.upi_id, .upi_id_img').hide();
            transactionIdDiv.show();
        } else {
            upiDropdown.hide();
            netBankingDiv.hide();
            transactionIdDiv.hide();
            
            $('.upi_drop_select').val('');
            $('.upi_id, .upi_id_img').hide();
            
            $('.net_banking_select').val('');
            $('.net-baking_all').hide();
        }
    });

    $('.upi_drop_select').change(function() {
        var selectedUpiId = $(this).val();
        $('.upi_id, .upi_id_img').hide();
        if (selectedUpiId !== '') {
            $('#upi_id' + selectedUpiId).show();
            $('#upi_id_img' + selectedUpiId).show();
        }
    });

    $('.net_banking_select').change(function() {
        var selectedNetBankingId = $(this).val();
        $('.net-baking_all').hide();
        if (selectedNetBankingId !== '') {
            $('.net-baking_all' + selectedNetBankingId).show();
        }
    });
});





</script>

<script>
  $(document).ready(function(){
    $('.mqlForm').each(function(){
      $(this).validate({
        rules:{
          courseFaculty:{
            required:true
          },
          leadType:{
            required:true
          },
          demodate:{
            required:true
          },
          Leaddescription:{
            required:true,
            minlength:20,
            maxlength:1000
          }
        },
        messages:{
          courseFaculty:{
            required:"Please select a faculty"
          },
          leadType:{
            required:"Please select a lead type"
          },
          demodate:{
            required:"Please select a demo"
          },
          Leaddescription:{
            required:"Please enter lead description",
            minlength:"Please enter at least 20 characters",
            maxlength:"Please enter a maximum of 1000 characters"
          }
        },
        submitHandler:function(form){
          form.submit();
        }
      })
    })
  })
</script>
<script>
  function validateAdmissionFee() {
    var admissionFee = parseFloat(document.getElementById("admissionFee").value);
    var courseFee = parseFloat(document.getElementById("courseFee").value);

    if (admissionFee < 500 || isNaN(admissionFee)) {
        alert("Admission fee must be a minimum of 500.");
        return false;
    }

    if (admissionFee > courseFee) {
        alert("Admission fee cannot be higher than the course fee.");
        return false;
    }

    return true;
}
</script>


{% endblock %}
