{% extends 'base/base.html' %}

{% block title %}MOCKS | Interviews Lists{% endblock %}

{% block breadCrum %}

<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Today Interviews</h4>
  <nav aria-label="breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0">
        <li class="breadcrumb-item"><a href="{% url 'mock_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin Interviews</li>
      </ol>
    </nav>
  </nav>
</div>
<!-- /Breadcrumb -->

{% endblock %}

{% block content %}



<section class="hk-sec-wrapper">
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table id="datable_1" class="table table-hover w-100  pb-30 table-bordered">
          <thead class="bg-dark">
            <tr>
              <th class="text-white text-center">S.No</th>
              <th class="text-white text-center">Student</th>
              <th class="text-white text-center">Roll Number</th>
              <th class="text-white text-center">Batch Number</th>
              <th class="text-white text-center">Mobile No</th>
              <th class="text-white text-center">Student Email id</th>
              <th class="text-white text-center">Course</th>
              <th class="text-white text-center">Date Of Interview</th>
              <th class="text-white text-center">Resume</th>
              <th class="text-white text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in today_interviews %}

            <tr>
              <td class="text-center">{{forloop.counter}}</td>
              <td class="text-center">{{i.student_name.first_name}} {{i.student_name.last_name}}</td>
              <td class="text-center">{{i.student_name.token_id}}</td>
              <td class="text-center">{{i.student_name.batch_number.batch_number}}</td>
              <td class="text-center">{{i.student_name.mobile_number}}</td>
              <td class="text-center">{{i.student_name.email}}</td>
              <td class="text-center">{{i.student_name.course_name}}</td>
              <td class="text-center">{{i.available_slot}}</td>
              <td class="text-center"><a href="" title="Image from freeiconspng.com"><img
                    src="https://www.freeiconspng.com/uploads/pdf-icon-png-pdf-zum-download-2.png" width="35"
                    alt="Student resume" /></a></td>
              <td class="text-center"><button class="btn btn-icon btn-success   " data-toggle="modal"
                  data-target="#todayfeedback{{forloop.counter}}">
                  <span class="btn-icon-wrap"><i class="fa fa-rocket"></i></span>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% for i in today_interviews %}
<div class="modal fade" id="todayfeedback{{forloop.counter}}" tabindex="-1" role="dialog"
  aria-labelledby="FeedbackForm" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Feedback Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>


      <form action="{% url 'FeedbackForm_2' i.id %}" method="post" id="feedbackForm{{ forloop.counter }}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Full Name </label>
                  <input value="{{i.student_name.first_name}} {{i.student_name.last_name}}" name="batchtype_name"
                    class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Roll Number </label>
                  <input value="{{i.student_name.token_id}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Batch Number </label>
                  <input value="{{i.student_name.batch_number.batch_number}}" name="batchtype_name" class="form-control"
                    readonly>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Email Id </label>
                  <input value="{{i.student_name.email}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Mobile Number </label>
                  <input value="{{i.student_name.mobile_number}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Date of Interview </label>
                  <input value="{{i.available_slot}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="attendance{{ forloop.counter }}" class="form-label">Attendance <span class="text-danger">*</span></label>

                  <select class="form-control select2" name="attendance_status" name="attendance"
                    id="attendanceStatus{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Present">Present</option>
                    <option value="Absent">Absent</option>
                  </select>

                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="communication{{ forloop.counter }}" class="form-label">Communication Skills <span
                      class="text-danger">*</span></label>
                  <select class="form-control select2" name="communication_skills" name="communication"
                    id="communication{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="bodyLanguage{{ forloop.counter }}" class="form-label">Body Language <span class="text-danger">*</span></label>

                  <select class="form-control select2" name="body_language" name=""
                    id="bodyLanguage{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>

                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="technicalSkills{{ forloop.counter }}" class="form-label">Technical Skills <span
                      class="text-danger">*</span></label>

                  <select class="form-control select2" name="technical_skills" name=""
                    id="technicalSkills{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="logicalThinking{{ forloop.counter }}" class="form-label">Logical Thinking<span
                      class="text-danger">*</span></label>

                  <select class="form-control select2" name="logical_thinking" name="logicalThinking"
                    id="logicalThinking{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6 ">
                <div class="form-group">
                  <label for="" class="form-label">Send Attachment </label>
                  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="form-control text-truncate" data-trigger="fileinput"><i
                        class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-append">
                      <span class=" btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span
                          class="fileinput-exists">Change</span>
                        <input type="file" name="send_attachment" id="sendAttachment{{ forloop.counter }}"
                          data-counter="{{ forloop.counter }}" disabled>
                      </span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 ">
                <div class="form-group">
                  <label for="suggestions{{ forloop.counter }}">Suggestions </label>
                  <textarea class="form-control"  id="suggestions{{ forloop.counter }}"
                    data-counter="{{ forloop.counter }}" name="suggestion" placeholder="What Would you like to say?"
                    rows="3"></textarea>
                </div>
              </div>
            </div>


            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endfor %}

<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Tomorrow Interviews</h4>
</div>

<section class="hk-sec-wrapper">
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table id="example_1" class="table table-hover w-100  pb-30 table-bordered">
          <thead class="bg-dark">
            <tr>
              <th class="text-white text-center">S.No</th>
              <th class="text-white text-center">Student</th>
              <th class="text-white text-center">Roll Number</th>
              <th class="text-white text-center">Batch Number</th>
              <th class="text-white text-center">Mobile No</th>
              <th class="text-white text-center">Student Email id</th>
              <th class="text-white text-center">Course</th>
              <th class="text-white text-center">Date Of Interview</th>
              <th class="text-white text-center">Resume</th>
              <th class="text-white text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in tomorrow_interviews %}
            <tr>
              <td class="text-center">{{forloop.counter}}</td>
              <td class="text-center">{{i.student_name.first_name}} {{i.student_name.last_name}}</td>
              <td class="text-center">{{i.student_name.token_id}}</td>
              <td class="text-center">{{i.student_name.batch_number.batch_number}}</td>
              <td class="text-center">{{i.student_name.mobile_number}}</td>
              <td class="text-center">{{i.student_name.email}}</td>
              <td class="text-center">{{i.student_name.course_name}}</td>
              <td class="text-center">{{i.available_slot}}</td>
              <td class="text-center"><a href="" title="Image from freeiconspng.com"><img
                    src="https://www.freeiconspng.com/uploads/pdf-icon-png-pdf-zum-download-2.png" width="35"
                    alt="Student resume" /></a></td>
              <td class="text-center"><button class="btn btn-icon btn-success   " data-toggle="modal"
                  data-target="#tomorrowfeedback{{forloop.counter}}">
                  <span class="btn-icon-wrap"><i class="fa fa-rocket"></i></span>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% for i in tomorrow_interviews %}
<div class="modal fade" id="tomorrowfeedback{{forloop.counter}}" tabindex="-1" role="dialog"
  aria-labelledby="FeedbackForm" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Feedback Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>


      <form action="{% url 'FeedbackForm_2' i.id %}" method="post" id="feedbackForm_2{{ forloop.counter }}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Full Name </label>
                  <input value="{{i.student_name.first_name}} {{i.student_name.last_name}}" name="batchtype_name"
                    class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Roll Number </label>
                  <input value="{{i.student_name.token_id}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Batch Number </label>
                  <input value="{{i.student_name.batch_number.batch_number}}" name="batchtype_name" class="form-control"
                    readonly>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Email Id </label>
                  <input value="{{i.student_name.email}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Mobile Number </label>
                  <input value="{{i.student_name.mobile_number}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Date of Interview </label>
                  <input value="{{i.available_slot}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="attendance{{ forloop.counter }}" class="form-label">Attendance <span class="text-danger">*</span></label>

                  <select class="form-control select2" name="attendance_status" name="attendance"
                    id="attendanceStatus_2{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Present">Present</option>
                    <option value="Absent">Absent</option>
                  </select>

                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="communication{{ forloop.counter }}" class="form-label">Communication Skills <span
                      class="text-danger">*</span></label>
                  <select class="form-control select2" name="communication_skills" name="communication"
                    id="communication_2{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="bodyLanguage{{ forloop.counter }}" class="form-label">Body Language <span class="text-danger">*</span></label>

                  <select class="form-control select2" name="body_language" name=""
                    id="bodyLanguage_2{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>

                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="technicalSkills{{ forloop.counter }}" class="form-label">Technical Skills <span
                      class="text-danger">*</span></label>

                  <select class="form-control select2" name="technical_skills" name=""
                    id="technicalSkills_2{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="logicalThinking{{ forloop.counter }}" class="form-label">Logical Thinking<span
                      class="text-danger">*</span></label>

                  <select class="form-control select2" name="logical_thinking" name="logicalThinking"
                    id="logicalThinking_2{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6 ">
                <div class="form-group">
                  <label for="" class="form-label">Send Attachment </label>
                  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="form-control text-truncate" data-trigger="fileinput"><i
                        class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-append">
                      <span class=" btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span
                          class="fileinput-exists">Change</span>
                        <input type="file" name="send_attachment" id="sendAttachment_2{{ forloop.counter }}"
                          data-counter="{{ forloop.counter }}" disabled>
                      </span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 ">
                <div class="form-group">
                  <label for="suggestions{{ forloop.counter }}">Suggestions </label>
                  <textarea class="form-control" name="suggestion" id="suggestions_2{{ forloop.counter }}"
                    data-counter="{{ forloop.counter }}" placeholder="What Would you like to say?"
                    rows="3"></textarea>
                </div>
              </div>
            </div>


            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endfor %}

<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Upcoming Interviews</h4>
</div>

<section class="hk-sec-wrapper">
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table id="example_2" class="table table-hover w-100  pb-30 table-bordered">
          <thead class="bg-dark">
            <tr>
              <th class="text-white text-center">S.No</th>
              <th class="text-white text-center">Student</th>
              <th class="text-white text-center">Roll Number</th>
              <th class="text-white text-center">Batch Number</th>
              <th class="text-white text-center">Mobile No</th>
              <th class="text-white text-center">Student Email id</th>
              <th class="text-white text-center">Course</th>
              <th class="text-white text-center">Date Of Interview</th>
              <th class="text-white text-center">Resume</th>
              <th class="text-white text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in upcoming_interviews %}
            <tr>
              <td class="text-center">{{forloop.counter}}</td>
              <td class="text-center">{{i.student_name.first_name}} {{i.student_name.last_name}}</td>
              <td class="text-center">{{i.student_name.token_id}}</td>
              <td class="text-center">{{i.student_name.batch_number.batch_number}}</td>
              <td class="text-center">{{i.student_name.mobile_number}}</td>
              <td class="text-center">{{i.student_name.email}}</td>
              <td class="text-center">{{i.student_name.course_name}}</td>
              <td class="text-center">{{i.available_slot}}</td>
              <td class="text-center"><a href="" title="Image from freeiconspng.com"><img
                    src="https://www.freeiconspng.com/uploads/pdf-icon-png-pdf-zum-download-2.png" width="35"
                    alt="Student resume" /></a></td>
              <td class="text-center"><button class="btn btn-icon btn-success   " data-toggle="modal"
                  data-target="#upcomingfeedback{{forloop.counter}}">
                  <span class="btn-icon-wrap"><i class="fa fa-rocket"></i></span>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% for i in upcoming_interviews %}
<div class="modal fade" id="upcomingfeedback{{forloop.counter}}" tabindex="-1" role="dialog"
  aria-labelledby="FeedbackForm" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Feedback Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>


      <form action="{% url 'FeedbackForm_2' i.id %}" method="post" id="feedbackForm_3{{ forloop.counter }}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Full Name </label>
                  <input value="{{i.student_name.first_name}} {{i.student_name.last_name}}" name="batchtype_name"
                    class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Roll Number </label>
                  <input value="{{i.student_name.token_id}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Batch Number </label>
                  <input value="{{i.student_name.batch_number.batch_number}}" name="batchtype_name" class="form-control"
                    readonly>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Email Id </label>
                  <input value="{{i.student_name.email}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Mobile Number </label>
                  <input value="{{i.student_name.mobile_number}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Date of Interview </label>
                  <input value="{{i.available_slot}}" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="attendance{{ forloop.counter }}" class="form-label">Attendance <span class="text-danger">*</span></label>

                  <select class="form-control select2" name="attendance_status" name="attendance"
                    id="attendanceStatus_3{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Present">Present</option>
                    <option value="Absent">Absent</option>
                  </select>

                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="communication{{ forloop.counter }}" class="form-label">Communication Skills <span
                      class="text-danger">*</span></label>
                  <select class="form-control select2" name="communication_skills" name="communication"
                    id="communication_3{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="bodyLanguage{{ forloop.counter }}" class="form-label">Body Language <span class="text-danger">*</span></label>

                  <select class="form-control select2" name="body_language" name=""
                    id="bodyLanguage_3{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>

                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="technicalSkills{{ forloop.counter }}" class="form-label">Technical Skills <span
                      class="text-danger">*</span></label>

                  <select class="form-control select2" name="technical_skills" name=""
                    id="technicalSkills_3{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="logicalThinking{{ forloop.counter }}" class="form-label">Logical Thinking<span
                      class="text-danger">*</span></label>

                  <select class="form-control select2" name="logical_thinking" name="logicalThinking"
                    id="logicalThinking_3{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                    <option value="" disabled selected>Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6 ">
                <div class="form-group">
                  <label for="" class="form-label">Send Attachment </label>
                  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="form-control text-truncate" data-trigger="fileinput"><i
                        class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-append">
                      <span class=" btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span
                          class="fileinput-exists">Change</span>
                        <input type="file" name="send_attachment" id="sendAttachment_3{{ forloop.counter }}"
                          data-counter="{{ forloop.counter }}" disabled>
                      </span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 ">
                <div class="form-group">
                  <label for="suggestions{{ forloop.counter }}">Suggestions </label>
                  <textarea class="form-control" name="suggestion" id="suggestions_3{{ forloop.counter }}"
                    data-counter="{{ forloop.counter }}"  placeholder="What Would you like to say?"
                    rows="3"></textarea>
                </div>
              </div>
            </div>


            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endfor %}

<!-- create model ends here -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>


<script>
  $(document).ready(function () {
    // Initialize DataTables for each table
    $(' #example_1').DataTable({
      "paging": true,
      "searching": true,
      "responsive": true,
      "lengthChange": true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      // Customize search box appearance
      "dom": '<"row"<"col-sm-6"l><"col-sm-6"f>>tip',
      // Customize search field placeholder and remove search label
      "language": {
        "search": "",
        "searchPlaceholder": "Search"
      }
    });
  });
</script>

<script>
  $(document).ready(function () {
    // Initialize DataTables for each table
    $(' #example_2').DataTable({
      "paging": true,
      "searching": true,
      "responsive": true,
      "lengthChange": true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      // Customize search box appearance
      "dom": '<"row"<"col-sm-6"l><"col-sm-6"f>>tip',
      // Customize search field placeholder and remove search label
      "language": {
        "search": "",
        "searchPlaceholder": "Search"
      }
    });
  });
</script>


<script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Include jQuery Validation Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script>
  $(document).ready(function () {
    // Function to enable/disable fields based on attendance status
    function toggleFields(counter) {
      var attendanceStatus = $('#attendanceStatus' + counter).val();
      if (attendanceStatus === 'Absent') { // '2' corresponds to the value of 'Absent' option
        $('#communication' + counter).prop('disabled', true);
        $('#bodyLanguage' + counter).prop('disabled', true);
        $('#technicalSkills' + counter).prop('disabled', true);
        $('#logicalThinking' + counter).prop('disabled', true);
        $('#sendAttachment' + counter).prop('disabled', true);
        $('#suggestions' + counter).prop('disabled', true);
        // Destroy CKEditor instance if already initialized
        if (CKEDITOR.instances['suggestions' + counter]) {
          CKEDITOR.instances['suggestions' + counter].destroy();
        }
      } else {
        $('#communication' + counter).prop('disabled', false);
        $('#bodyLanguage' + counter).prop('disabled', false);
        $('#technicalSkills' + counter).prop('disabled', false);
        $('#logicalThinking' + counter).prop('disabled', false);
        $('#sendAttachment' + counter).prop('disabled', false);
        $('#suggestions' + counter).prop('disabled', false);
        // Initialize CKEditor if textarea is enabled
        CKEDITOR.replace('suggestions' + counter);
      }
    }

    // Call the function for each interview on page load
    {% for i in today_interviews %}
    toggleFields({{ forloop.counter }});
    // Initialize form validation for each form
    $("#feedbackForm{{ forloop.counter }}").validate({
      rules: {
        attendance_status: {
          required: true,
        },
        communication_skills: {
          required: true,
        },
        body_language: {
          required: true,
        },
        technical_skills: {
          required: true,
        },
        logical_thinking: {
          required: true,
        },
        suggestions: {
          required: true,
        },
      },
      messages: {
        attendance_status: {
          required: "Please select an option",
        },
        communication_skills: {
          required: "Please select an option",
        },
        body_language: {
          required: "Please select an option",
        },
        technical_skills: {
          required: "Please select an option",
        },
        logical_thinking: {
          required: "Please select an option",
        },
        suggestions: {
          required: "Please provide your suggestions",
        },
      },
      submitHandler: function (form) {
        form.submit();
      },
    });
    {% endfor %}

    // Use event delegation to handle change event for each attendanceStatus
    $(document).on('change', '[id^="attendanceStatus"]', function () {
      var counter = $(this).data('counter');
      toggleFields(counter);
    });
  });
</script>




<script>
  $(document).ready(function () {
    // Function to enable/disable fields based on attendance status
    function toggleFields(counter) {
      var attendanceStatus = $('#attendanceStatus_2' + counter).val();
      if (attendanceStatus === 'Absent') { // '2' corresponds to the value of 'Absent' option
        $('#communication_2' + counter).prop('disabled', true);
        $('#bodyLanguage_2' + counter).prop('disabled', true);
        $('#technicalSkills_2' + counter).prop('disabled', true);
        $('#logicalThinking_2' + counter).prop('disabled', true);
        $('#sendAttachment_2' + counter).prop('disabled', true);
        $('#suggestions_2' + counter).prop('disabled', true);
        // Destroy CKEditor instance if already initialized
        if (CKEDITOR.instances['suggestions_2' + counter]) {
          CKEDITOR.instances['suggestions_2' + counter].destroy();
        }
      } else {
        $('#communication_2' + counter).prop('disabled', false);
        $('#bodyLanguage_2' + counter).prop('disabled', false);
        $('#technicalSkills_2' + counter).prop('disabled', false);
        $('#logicalThinking_2' + counter).prop('disabled', false);
        $('#sendAttachment_2' + counter).prop('disabled', false);
        $('#suggestions_2' + counter).prop('disabled', false);
        // Initialize CKEditor if textarea is enabled
        CKEDITOR.replace('suggestions_2' + counter);
      }
    }

    // Call the function for each interview on page load
    {% for i in tomorrow_interviews %}
    toggleFields({{ forloop.counter }});
    // Initialize form validation for each form
    $("#feedbackForm_2{{ forloop.counter }}").validate({
      rules: {
        attendance_status: {
          required: true,
        },
        communication_skills: {
          required: true,
        },
        body_language: {
          required: true,
        },
        technical_skills: {
          required: true,
        },
        logical_thinking: {
          required: true,
        },
        suggestions: {
          required: true,
        },
      },
      messages: {
        attendance_status: {
          required: "Please select an option",
        },
        communication_skills: {
          required: "Please select an option",
        },
        body_language: {
          required: "Please select an option",
        },
        technical_skills: {
          required: "Please select an option",
        },
        logical_thinking: {
          required: "Please select an option",
        },
        suggestions: {
          required: "Please provide your suggestions",
        },
      },
      submitHandler: function (form) {
        form.submit();
      },
    });
    {% endfor %}

    // Use event delegation to handle change event for each attendanceStatus
    $(document).on('change', '[id^="attendanceStatus_2"]', function () {
      var counter = $(this).data('counter');
      toggleFields(counter);
    });
  });
</script>

<script>
  $(document).ready(function () {
    // Function to enable/disable fields based on attendance status
    function toggleFields(counter) {
      var attendanceStatus = $('#attendanceStatus_3' + counter).val();
      if (attendanceStatus === 'Absent') { // '2' corresponds to the value of 'Absent' option
        $('#communication_3' + counter).prop('disabled', true);
        $('#bodyLanguage_3' + counter).prop('disabled', true);
        $('#technicalSkills_3' + counter).prop('disabled', true);
        $('#logicalThinking_3' + counter).prop('disabled', true);
        $('#sendAttachment_3' + counter).prop('disabled', true);
        $('#suggestions_3' + counter).prop('disabled', true);
        // Destroy CKEditor instance if already initialized
        if (CKEDITOR.instances['suggestions_3' + counter]) {
          CKEDITOR.instances['suggestions_3' + counter].destroy();
        }
      } else {
        $('#communication_3' + counter).prop('disabled', false);
        $('#bodyLanguage_3' + counter).prop('disabled', false);
        $('#technicalSkills_3' + counter).prop('disabled', false);
        $('#logicalThinking_3' + counter).prop('disabled', false);
        $('#sendAttachment_3' + counter).prop('disabled', false);
        $('#suggestions_3' + counter).prop('disabled', false);
        // Initialize CKEditor if textarea is enabled
        CKEDITOR.replace('suggestions_3' + counter);
      }
    }

    // Call the function for each interview on page load
    {% for i in upcoming_interviews %}
    toggleFields({{ forloop.counter }});
    // Initialize form validation for each form
    $("#feedbackForm_3{{ forloop.counter }}").validate({
      rules: {
        attendance_status: {
          required: true,
        },
        communication_skills: {
          required: true,
        },
        body_language: {
          required: true,
        },
        technical_skills: {
          required: true,
        },
        logical_thinking: {
          required: true,
        },
        suggestions: {
          required: true,
        },
      },
      messages: {
        attendance_status: {
          required: "Please select an option",
        },
        communication_skills: {
          required: "Please select an option",
        },
        body_language: {
          required: "Please select an option",
        },
        technical_skills: {
          required: "Please select an option",
        },
        logical_thinking: {
          required: "Please select an option",
        },
        suggestions: {
          required: "Please provide your suggestions",
        },
      },
      submitHandler: function (form) {
        form.submit();
      },
    });
    {% endfor %}

    // Use event delegation to handle change event for each attendanceStatus
    $(document).on('change', '[id^="attendanceStatus_3"]', function () {
      var counter = $(this).data('counter');
      toggleFields(counter);
    });
  });
</script>



{% endblock %}