{% extends 'base/base.html' %}
{% block title %}QTLineone | Faculty Mock Schedule{% endblock %}

{% block breadCrum %}

<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0" xmlns="http://www.w3.org/1999/html">
  <h4 class="hk-pg-title m-3">Scheduling Mock </h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'faculty_dashboard'%}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Scheduling Mock</li>
    </ol>
  </nav>
</div>
<!-- /Breadcrumb -->

{% endblock %}
{% block content %}
 <!-- message here -->

 {% if messages %}
 {% for message in messages %}
   {% if message.tags == "error" %}
     <div class="h-25 alert alert-danger alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
   {% elif message.tags == "success" %}
     <div class="h-25 alert alert-success alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
     {% else %}
    <div class="h-25 alert alert-info alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
    {% endif %}
   {% endfor %}
 {% endif %}

<!-- Table starts here -->

<section class="hk-sec-wrapper shadow-lg p-3 mb-10 bg-white rounded">
 <div class="">
    <button  type="button" class="btn btn-primary mr-2 mb-3" data-toggle="modal" data-target="#Bookinterview">
      <i class="glyphicon glyphicon-plus"></i> Add Slot
    </button>
    <!-- export faculty slot starts  -->
    <a href="{% url 'faculty_slot_export' %}" class="btn btn-success mr-2 mb-3"><i class="glyphicon glyphicon-export"></i>
      Export</a>
      <!-- export faculty slot ends  -->
    <button type="button" class="btn btn-secondary mr-2 mb-3" data-toggle="modal" data-target="#UploadSlot">
      <i class="glyphicon glyphicon-import"></i> Import
    </button>
  </div>
<!--    Table starts here -->
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table id="datable_1" class="table table-hover w-100  pb-30 table-bordered">
            <thead class="bg-dark">
              <tr>
                <th class="text-white">S.no</th>
                <th class="text-white text-center">Available Slot</th>
                  <th class="text-white text-center">Mock Link</th>
                <th class="text-white text-center">Status</th>
                <th class="text-white text-center" >Action</th>
              </tr>
            </thead>
            <tbody>
              {% for scheduled in scheduling %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td class="text-center">{{scheduled.available_slot}}</td>
                <td class="text-center">
                  <button type="button" class="btn btn-link" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>on</u> <b>Link</b>">
                    {{scheduled.mock_link}}
                    <button class="btn btn-icon btn-icon-only btn-icon-style-4 copyButton"><i class="fa fa-copy"></i></button>
                  </button>
                </td>
                <td class="text-center">
                  {% if scheduled.status == 'Active' %}
                    <span class="badge badge-success badge-pill mt-15 mr-10">Active</span>
                  {% elif scheduled.status == 'Reschedule'  %}
                    <span class="badge badge-pumpkin badge-pill mt-15 mr-10">Reschedule</span>
                  {% else %}
                    <span class="badge badge-danger badge-pill mt-15 mr-10">Cancel</span>
                  {% endif %}
                </td>
                <td class="text-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <button class="btn btn-icon btn-success " data-toggle="modal" data-target="#Edit-{{scheduled.id}}">
                      <i class="fa fa-rocket"></i>
                    </button>
                  </div>
                </td>
              </tr>
              {% endfor %}
              
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--    Table ends here -->

<!-- add faculty slot starts here-->
<div class="modal fade" id="Bookinterview" tabindex="-1" role="dialog" aria-labelledby="Bookinterview" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Add Slot</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post" class="Add_slot">
        {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3">
            <label for="" class="form-label">Available  Slot <span class="text-danger">*</span></label>
              <input  class="form-control" type="datetime-local" id="datetime" name="datetime" required>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Faculty Name: <span class="text-danger">*</span></label>
            <select class="form-control custom-select" name="faculty" id="">
              <option value="" selected>Please Select Faculty</option>
              {% for i in employees %}
              <option value="{{i.id}}">{{i.first_name}} {{i.last_name}}</option>
              {% endfor %}
            </select>
          </div> 
          <div class="mb-3">
            <label for="" class="form-label">Mock Link<span class="text-danger"> *</span></label>
              <textarea  class="form-control"  name="link" required></textarea>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Add faculty slot ends here-->


<!-- Edit faculty slot starts here-->

{% for scheduled in scheduling %}
<div class="modal fade" id="Edit-{{scheduled.id}}" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Reschedule Slot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <form action="{% url 'edit_faculty_slot' scheduled.id %}" method="post" class="Edit_slot">
        {% csrf_token %}
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm">
                <div class="row mb-10">
                  <div class="col-md-6 mt-15">
                    <div class="custom-control custom-radio">
                      <input type="radio" name="type_of_change_{{scheduled.id}}" class="resc_check_re" value="Reschedule Slot" onclick="toggleFields('Edit-{{scheduled.id}}', this)">
                      <label for="" class="form-label">Reschedule </label>
                    </div>
                  </div>
                  <div class="col-md-6 mt-15">
                    <div class="custom-control custom-radio">
                      <input type="radio" name="type_of_change_{{scheduled.id}}" class="resc_check-can" value="Cancel Slot" onclick="toggleFields('Edit-{{scheduled.id}}', this)">
                      <label for="" class="form-label">Cancel </label> 
                    </div>
                  </div>
                  <div class="col-md-6 mt-15" id="radioError{{scheduled.id}}"></div>
                </div>
                <div class="mb-3" id="BookedFields-{{scheduled.id}}">
                  <label for="" class="form-label">Booked details</label>
                  <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label" >Student Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="{{ scheduled.student_name.first_name }} {{ scheduled.student_name.last_name }}" id="student"  readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label" >Student ID:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value=" {{ scheduled.student_name.token_id }}" id="student"   readonly>
                    </div>
                </div>

              </div>
                <div class="mb-3" id="rescheduleFields-{{scheduled.id}}">
                  <label for="" class="form-label">Available Slot <span class="text-danger">*</span></label>
                  <input type="datetime-local" class="form-control slot-input reschedule-input"  id="available_slot" name="available_slot">
                </div>
                <div class="mb-3" id="mockLinkField-{{scheduled.id}}">
                  <label for="" class="form-label">Mock Link<span class="text-danger"> *</span></label>
                  <input type="text" class="form-control slot-input reschedule-input" name="mock_link" placeholder="Enter mock link here." >
                </div>
                <div class="mb-3" id="rescheduleReason-{{scheduled.id}}">
                  <label for="" class="form-label">Reason for Reschedule Slot<span class="text-danger"> *</span></label>
                  <textarea class="form-control reschedule-reason reschedule-input" placeholder="What Would you like to say?" rows="5"  name="reschedule_reason" ></textarea>
                </div>
                <div class="mb-3" id="cancelFields-{{scheduled.id}}" style="display: none;">
                  <label for="">Reason for Cancel Slot <span class="text-danger">*</span></label>
                  <textarea class="form-control cancel-reason reschedule-input" placeholder="What Would you like to say?" rows="5" name="cancel_reason"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" id="confirmAction">Confirm</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}


<!-- Edit faculty slot ends here-->

<!-- Upload model  -->


<div class="modal fade" id="UploadSlot" tabindex="-1" role="dialog" aria-labelledby="UploadSlot" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-whte">&times;</span>
        </button>
      </div>
      <form action="{% url 'faculty_slot_import' %}" method="post" id="uploadfile" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <input type="file" name="faculty_slot_file" accept=".csv" id="input-file-now" class="dropify" />
          <div id="csvPreview"></div>
         </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Upload model end here -->



{% endblock %}

{% block scripts %}
<!-- add faculty slots starts -->
<script>
  // Validate form using jQuery Validation Plugin
  $(document).ready(function () {
    $.validator.addMethod("overspecialization", function (value, element) {
        return !/\d/.test(value);
    }, "Please enter a valid value.");

    $.validator.addMethod("radioRequired", function (value, element) {
        return $('input[name="type_of_change"]:checked').length > 0;
    }, "Please select an option.");

    $(".Add_slot").each(function () {
      $(this).validate({
        rules: {
          datetime: {
                required: true,
                overspecialization: false
            },
          link: {
                required: true,
                overspecialization: false
            },
        },
        messages: {
          datetime: {
                required: "Please Select Slot."
            },
            link: {
                required: "Please provide link."
            },
        },
        submitHandler: function (form) {
            form.submit();
        },
    });
  });
});
</script>
<!-- add faculty slots ends -->

<!-- edit faculty slots starts -->
<script>
  // Validate form using jQuery Validation Plugin
  $(document).ready(function () {
    $.validator.addMethod("overspecialization", function (value, element) {
        return !/\d/.test(value);
    }, "Please enter a valid value.");

    $.validator.addMethod("radioRequired", function (value, element) {
        return $('input[name="type_of_change"]:checked').length > 0;
    }, "Please select an option.");

    $(".Edit_slot").each(function () {
      $(this).validate({
        rules: {
          available_slot: {
                required: true,
                overspecialization: false
            },
          mock_link: {
                required: true,
                overspecialization: false
            },
            reschedule_reason: {
                required:true,
            },
            cancel_reason: {
                required:true,
                
            },
            faculty:{
              required:true
            },
            type_of_change: {
                radioRequired: true
            }

        },
        messages: {
          available_slot: {
                required: "Please Select Slot."
            },
            mock_link: {
                required: "Please provide link."
            },
            reschedule_reason: {
                required:" Please enter a reason",
            },
            cancel_reason: {
                required:" Please enter a reason",
            },
            faculty:{
              required:"Please  select faculty"
            },
            type_of_change: {
                radioRequired: "Please select an option."
            }

        },
        errorPlacement: function(error, element) {
            if (element.attr("name") == "type_of_change") {
                error.appendTo("#radioError");
            } else {
                error.insertAfter(element);
            }
        },
        submitHandler: function (form) {
            form.submit();
        },
    });
  });
});
</script>
<!-- edit faculty slots ends -->

<!-- reschedule and cancel radiobuttons starts -->
<script>
  function toggleFields(modalId, radio) {
    var rescheduleFields = document.getElementById('rescheduleFields-' + modalId.split('-')[1]);
    var cancelFields = document.getElementById('cancelFields-' + modalId.split('-')[1]);
    var mockLinkField = document.getElementById('mockLinkField-' + modalId.split('-')[1]);
    var rescheduleReason = document.getElementById('rescheduleReason-' + modalId.split('-')[1]);
    
    if (radio.value === 'Reschedule Slot') {
      rescheduleFields.style.display = 'block';
      rescheduleReason.style.display = 'block';
      cancelFields.style.display = 'none';
      mockLinkField.style.display = 'block';  // Show mock link field for reschedule
    } else if (radio.value === 'Cancel Slot') {
      rescheduleFields.style.display = 'none';
      rescheduleReason.style.display = 'none';
      cancelFields.style.display = 'block';
      mockLinkField.style.display = 'none';  // Hide mock link field for cancel
    }
  }
  
  // Initialize fields display on page load
  document.addEventListener("DOMContentLoaded", function() {
    var radioButtons = document.querySelectorAll('input[class^="resc_check"]');
    for (var i = 0; i < radioButtons.length; i++) {
      if (radioButtons[i].checked) {
        var modalId = radioButtons[i].closest('.modal').id;
        toggleFields(modalId, radioButtons[i]);
      }
    }
  });
</script>

  <!-- reschedule and cancel radiobuttons ends -->

<!-- upload file starts  -->
<script>
  function validateUploadForm(form) {
    $(form).find('#input-file-now').on('change', function () {
      var file = this.files[0];
      var fileExt = file.name.split('.').pop().toLowerCase();

      if (fileExt === 'csv') {
        $(form).find('button[type="submit"]').prop('disabled', false);
        $(form).find('#input-file-now').html('');
      } else {
        $(form).find('button[type="submit"]').prop('disabled', true);
        $(form).find('#csvPreview').html('<span style="color: red;">Only CSV files are allowed.</span>');
      }
    });

    $(form).on('submit', function (e) {
      var file = $(form).find('#input-file-now')[0].files[0];

      if (!file) {
        e.preventDefault();
        $(form).find('#csvPreview').html('<span style="color: red;">Please select a csv file.</span>');
      }
    });
  }

  $('#UploadSlot').on('shown.bs.modal', function () {
    validateUploadForm($(this).find('form'));
  });
</script>
<!-- uppload file ends -->

<!-- for fading previous dates -->
<script>
    $(document).ready(function () {
      var now = new Date().toISOString().slice(0, 16);

      $("#datetime").attr("min", now);
      $("#available_slot").attr("min", now);
  
     
    })
</script>
  


<script>
  $(document).ready(function() {
    $('.copyButton').click(function() {
      var mockLink = $(this).parent().text().trim(); // Get the text content of the parent element
      var tempInput = document.createElement('input');
      tempInput.setAttribute('type', 'text');
      tempInput.value = mockLink;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand('copy');
      document.body.removeChild(tempInput);
    });
  });
</script>

{% endblock %}