{% extends 'base/base.html' %}
{% block title %}QTLineone | Chapters{% endblock %}
{% block breadCrum %}

<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Chapters</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'settings' %}">Settings</a></li>
      <li class="breadcrumb-item active" aria-current="page">Chapters</li>
    </ol>
  </nav>
</div>
<!-- /Breadcrumb -->
{% endblock %}
{% block content %}
 <!-- message here -->

 {% if messages %}
 {% for message in messages %}
   {% if message.tags == "error" %}
     <div class="h-25 alert alert-danger alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
   {% elif message.tags == "success" %}
     <div class="h-25 alert alert-success alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
     {% else %}
    <div class="h-25 alert alert-info alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
    {% endif %}
   {% endfor %}
 {% endif %}

<!-- message end here -->
<section class="hk-sec-wrapper">
  <div class="d-flex justify-content-between">

    <div class="">
      <button type="button" class="btn btn-primary mr-2 mb-3" data-toggle="modal" data-target="#CreateSpecialization">
        <i class="glyphicon glyphicon-plus"></i> Create Chapter
      </button>
      <a href="{% url 'specialization_export' %}" class="btn btn-success mr-2 mb-3"><i class="glyphicon glyphicon-export"></i> Export</a>
      <button type="button" class="btn btn-secondary mr-2 mb-3" data-toggle="modal" data-target="#UploadSpecialization">
        <i class="glyphicon glyphicon-import"></i> Import
      </button>
    </div>
    <div class="">
      <button type="button" class="btn btn-danger mr-2 mb-3" id="deleteButton" data-toggle="modal"
        data-target="#deleteModal" style="display: none; position: relative; top: 0px; ">
        <i class="glyphicon glyphicon-trash"></i> Delete
    </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table id="datable_1" class="table table-hover w-100 display pb-30 table-bordered">
          <thead class="bg-dark">
            <tr>
              <th class="text-white text-center"><input type="checkbox" id="selectAll"> All</th>

              <th class="text-white">S.No</th>
              <th class="text-white">Sub Category</th>
              <th class="text-white">Course Name</th>
              <th class="text-white">Specialization</th>
              <th class="text-white">Chapter</th>
              <th class="text-white text-center">Status</th>
              <th class="text-white text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for chapter in chapters %}  
            <tr>
              <td class="text-center"><input type="checkbox" class="row-checkbox" ></td>
              <td >{{forloop.counter}}</td>
              <td >{{chapter.sub_cat_title.sub_cat_title}}</td>
              <td>{{chapter.course_title.course_name}}</td> 
              <td>{{chapter.spec_title.specilalization_name}}</td>
              <td >{{chapter.chapter_description}}</td>
              <td class="text-center ">
                {% if chapter.chapter_status %}

                <a href="{% url 'chapter_status' chapter.id %}"><span class="badge badge-success" >Active</span></a>
                {% else %}
                <a href="{% url 'chapter_status' chapter.id %}"><span class="badge badge-danger"  >Deactive</span></a>
                {% endif %}
              </td>
              <td class="text-center ">
                <button class="btn btn-primary m-1" data-toggle="modal" data-target="#chapter_edit_model{{forloop.counter}}">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger m-1" data-toggle="modal" data-target="#DeleteChapter_model{{forloop.counter}}">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- create model start here -->

<div class="modal fade" id="CreateSpecialization" tabindex="-1" role="dialog" aria-labelledby="CreateSpecialization"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Create New Chapter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <form action="{% url 'chapters' %}" method="post" id="chapter_form_create" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body modal-lg">
          <div class="row">
            <div class="mb-3 col-6">
              <label>Specialization<span class="text-danger">*</span></label>
              <select class="form-control custom-select" id="specialization_select" name="specialization_name">
                  <option selected value="">Select your Specialization</option>
                  {% for spc in specializations %}
                      <option value="{{ spc.id }}">{{ spc.specilalization_name }}</option>
                  {% endfor %}
              </select>
          </div>
          
          <div class="mb-3 col-6">
              <label>Course <span class="text-danger">*</span></label>
              <select class="form-control custom-select" id="course_select" name="course_name" disabled>
                  <option value="">Select Course</option>
              </select>
          </div>
          
          <div class="mb-3 col-6">
              <label>Subject Category<span class="text-danger">*</span></label>
              <select class="form-control custom-select" id="sub_category_select" name="sub_category_name" disabled>
                  <option value="">Select Sub Category</option>
              </select>
          </div>
          
           
              <div class="mb-3 col-6 ">
                <label for="">Chapter Title <span class="text-danger">*</span></label>
                  <input name="chapter_title" type="text" class="form-control" id="chapter_title" 
                    placeholder="Ex: Introduction to python" aria-describedby="inputGroupPrepend" required />
              </div>
            </div>
            
         
          
       
          <div class="row ml-l mr-1">
            <div class="mb-3 col-6">
                
                    <label>Chapter Logo (PNG/JPG /Size:-200X200) <b style="color: red;">*</b>
                    </label>

                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Upload</span>
                      </div>
                      <div class="form-control text-truncate" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="chapter_logo"></span></div>
                      <span class="input-group-append">
  <span class=" btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
  <input aria-describedby="inputGroupFileAddon03" aria-label="Upload" 
  accept="image/png, image/jpg, image/jpeg" name="chapter_logo" type="file">
                      </span>
                      <a href="#" class="btn btn-secondary fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </span>
                  </div>
                                                
                   
                         
                
            </div>
            <div class="mb-3 col-6">
               
                    <label> Chapter Image (PNG/JPG /Size:-800X533) <b style="color: red;">*</b>
                    </label>
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Upload</span>
                      </div>
                      <div class="form-control text-truncate" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                      <span class="input-group-append">
  <span class=" btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
  <input aria-describedby="inputGroupFileAddon03" aria-label="Upload" 
  name="chapter_image" accept="image/png, image/jpg, image/jpeg" type="file">
                      </span>
                      <a href="#" class="btn btn-secondary fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </span>
                  </div>
                    
             
            </div>
        </div>
        
            <div class="mb-3 ml-2 mr-2">
                <label class="form-label">Chapter Short Description <b style="color: red;">*</b>
                </label>
                <textarea class="form-control" name="short_description"
                          placeholder="Enter Chapter Short Description" rows="3"></textarea>
            </div>
          </div>  
        <div class="mb-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary m-1">Submit</button>
          <button type="reset" class="btn btn-secondary m-1">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Create model end here -->
<!-- Edit model start here -->

{% for chapter in chapters %}

<div class="modal fade" id="chapter_edit_model{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="chapter_edit_model"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Edit Chapter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <form action="{% url 'chapter_update' chapter.id %}" method="post" class="chapter_edit_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body modal-lg">
          <div class="row">
            <div class="mb-3 col-6">
              <label>Specialization<span class="text-danger">*</span></label>
              <select class="form-control custom-select specialization-select" data-chapter-id="{{ chapter.id }}" name="specialization_edit">
                  <option selected value="">Select your Specialization</option>
                  {% for specialization in specializations %}
                  <option value="{{ specialization.id }}">{{ specialization.specilalization_name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="mb-3 col-6">
              <label>Course<span class="text-danger">*</span></label>
              <select class="form-control custom-select course-select" data-chapter-id="{{ chapter.id }}" name="course_name_edit" >
                  <option value="">Select Course</option>
                  <!-- Options will be populated via JavaScript -->
              </select>
          </div>
      </div>
      <div class="row">
          <div class="mb-3 col-6">
              <label>Subject Category<span class="text-danger">*</span></label>
              <select class="form-control custom-select sub-category-select" data-chapter-id="{{ chapter.id }}" name="sub_category_edit" >
                  <option value="">Select your Subject Category</option>
                  <!-- Options will be populated via JavaScript -->
              </select>
          </div>
           
              <div class="mb-3 col-6 ">
                <label for="">Chapter Title <span class="text-danger">*</span></label>
                  <input value="{{i.chapter_title}}" type="text" class="form-control" name="chapter_title_edit" 
                    placeholder="Ex: Introduction to python" aria-describedby="inputGroupPrepend" required />
              </div>
            </div>
            
         
          
       
          <div class="row ml-l mr-1">
            <div class="mb-3 col-6">
                
                    <label>Chapter Logo (PNG/JPG /Size:-200X200) <b style="color: red;">*</b>
                    </label>

                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Upload</span>
                      </div>
                      <div class="form-control text-truncate" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                      <span class="input-group-append">
  <span class=" btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
  <input aria-describedby="inputGroupFileAddon03" aria-label="Upload" 
  accept="image/png, image/jpg, image/jpeg" name="chapter_logo_edit" type="file">
                      </span>
                      <a href="#" class="btn btn-secondary fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </span>
                  </div>
                                                
                   
                         
                
            </div>
            <div class="mb-3 col-6">
               
                    <label> Chapter Image (PNG/JPG /Size:-800X533) <b style="color: red;">*</b>
                    </label>
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Upload</span>
                      </div>
                      <div class="form-control text-truncate" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                      <span class="input-group-append">
  <span class=" btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
  <input aria-describedby="inputGroupFileAddon03" aria-label="Upload" 
  name="chapter_image_edit" accept="image/png, image/jpg, image/jpeg" type="file">
                      </span>
                      <a href="#" class="btn btn-secondary fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </span>
                  </div>
                    
             
            </div>
        </div>
        
            <div class="mb-3 ml-2 mr-2">
                <label class="form-label">Chapter Short Description <b style="color: red;">*</b>
                </label>
                <textarea class="form-control" name="short_description_edit"
                          placeholder="Enter Chapter Short Description" rows="3"></textarea>
            </div>
          </div>  
        <div class="mb-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary m-1">Submit</button>
          <button type="reset" class="btn btn-secondary m-1">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endfor %}


<!-- Edit model end here -->

<!-- Delete model start here -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header bg-danger">
              <h5 class="modal-title text-white " id="deleteModalLabel">Delete Employee Type</h5>
              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="mb-3 text-center">
                  <div class="d-flex justify-content-center mb-3">
                      <img src="../../static/triangle-exclamation-solid.svg" width="120" height="70" alt="">
                  </div>
                  <form action="{% url 'chapters_all' %}" method="post">
                      {% csrf_token %}
                      <p id="deleteMessage">Are you sure you want to delete <strong><span id="selectedCount"></span></strong> records?</p>
                      <input type="hidden" id="selected_ids_input" name="selected_ids">
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-danger m-1" id="confirmDelete">Yes</button>
                <button type="button" class="btn btn-secondary m-1" data-dismiss="modal">No</button>
              </div>
              </form>
          </div>

      </div>
  </div>
</div>



{% for chapter in chapters %}

<div class="modal fade" id="DeleteChapter_model{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="DeleteSpecialization"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white">Delete Chapter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <form action="{% url 'chapter_delete' chapter.id %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3 text-center">
            <div class="d-flex justify-content-center mb-3">

              <img src="../../static/triangle-exclamation-solid.svg" width="120" height="70" alt="">
            </div>
            Are you sure you want to delete {{chapter.chapter_title}}  Chapter ?
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <button type="button" class="btn btn-secondary m-1" data-dismiss="modal" aria-label="Close">
            No
          </button>
          <button type="submit" class="btn btn-danger m-1">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endfor %}


<!-- Delete model end here -->

<!-- Upload model  -->

<div class="modal fade" id="UploadSpecialization" tabindex="-1" role="dialog" aria-labelledby="UploadSpecialization" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-whte">&times;</span>
        </button>
      </div>
      <form action="" method="post" id="uploadfile" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <input type="file" name="sep_file" accept=".csv" id="input-file-now" class="dropify" />
          <div id="csvPreview"></div>
         </div>
        <div class="mb-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary m-1">Submit</button>
          <button type="button" class="btn btn-secondary m-1" data-dismiss="modal" aria-label="Close">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Upload model end here -->

{% endblock %}


{% block scripts %}

<script>
  

    $(document).ready(function() {





      $.validator.addMethod("alphanumeric", function (value, element) {
        return this.optional(element) || /^[a-zA-Z0-9\s]+$/.test(value) && !(/^\d+$/.test(value));
    }, "Name should only contain letters and numbers.");
    

      $.validator.addMethod("noDoubleSpace", function (value, element) {
        return this.optional(element) || !/\s{2}/.test(value);
      }, "Name should not contain double spaces.");

      $.validator.addMethod("address", function (value, element) {
        // return this.optional(element) || value == value.match(/^[a-zA-Z\s]+$/);
        return this.optional(element) || /^[a-zA-Z0-9\s\.,#-/=_@]+$/.test(value);
      }, "Only address allowed");

      $.validator.addMethod("longaddress", function (value, element) {
        // return this.optional(element) || value == value.match(/^[a-zA-Z\s]+$/);
        return this.optional(element) || /^[a-zA-Z0-9\s\.,#-/=_@]+$/.test(value);
      }, "Only address allowed");

      $.validator.addMethod("imageFileType", function (value, element) {
        // Check if the file extension is either jpg or png (case-insensitive)
        return this.optional(element) || /^.*\.(jpg|jpeg|png)$/i.test(value);
      }, "Please select a valid JPG or PNG or JPEG image file.");




    $("#chapter_form_create").validate({
      rules: {
        sub_category_name :{
          required:true

        },
        course_name: {
          required: true,

        },
        specialization_name:{
          required:true

        },
        chapter_title:{
          required: true,
          alphanumeric: true,
          minlength: 3,
          maxlength: 80,
          noDoubleSpace: true,
        },
        chapter_logo:{
          required:true,
          imageFileType:true
        },
        chapter_image:{
          required:true,
          imageFileType:true
        },
        short_description:{
          required: true,
          minlength: 20,
          maxlength: 200,
          noDoubleSpace: true,
        }


      },
      messages: {
        sub_category_name: {
          required:"Please Select Sub Category Name"

        },
        course_name: {
          required: "Please Select Course Name",
        },
        specialization_name: {
          required: "Please Select Specialization Name",
        },
        chapter_title: {
          required: "Please Enter Chapter Name",
          minlength: "Minimum of 3 characters",
          maxlength: "Sorry, it takes only 80 Characters"
        },
        chapter_logo: {
          required: "Please Select Chapter Logo",
        },
        chapter_image: {
          required: "Please Select Chapter Image",
        },
        short_description:{
          required: "Please Enter Short Description",
          minlength: "Minimum of 20 characters",
          maxlength: "Sorry, it takes only 200 Characters"
        }
        

      },
      submitHandler: function (form) {
        form.submit();
      }
      ,
    });
    $(".chapter_edit_form").each(function () {
      $(this).validate({
        rules: {
          sub_category_edit: {
            required: true,

          },
          course_name_edit: {
            required: true,
          },
          specialization_edit:{
            required:true
          },
          chapter_title:{
            required:true,
            alphanumeric: true,
          minlength: 3,
          maxlength: 80,
          noDoubleSpace: true,
          },
          chapter_logo_edit:{
            imageFileType:true,
            required:true

          },
          chapter_image_edit:{
            imageFileType:true,
            required:true
          },
          short_description_edit:{
            required: true,
                minlength: 20,
                maxlength: 200,
                noDoubleSpace: true,
          }

        },
        messages: {
          sub_category_edit: {
            required: "Please Select Sub Category Name"
            
          },
          course_name_edit: {
            required: "Please Select Course Name",
          },
          specialization_edit: {
            required: "Please Select Specialization Name",
          },
          chapter_title: {
            required: "Please Enter Chapter Name",
          },
          chapter_logo_edit: {
            required: "Please Select Chapter Logo",
          },
          chapter_image_edit: {
            required: "Please Select Chapter Image",
          },
          short_description_edit:{
            required: "Please Enter Short Description",
            minlength: "Minimum of 20 characters",
            maxlength: "Sorry, it takes only 200 Characters"
          }
        },
        submitHandler: function (form) {
          form.submit();
        },

      });
    });
  });

</script>

<script>
  function validateUploadForm(form) {
    $(form).find('#input-file-now').on('change', function () {
      var file = this.files[0];
      var fileExt = file.name.split('.').pop().toLowerCase();

      if (fileExt === 'csv') {
        $(form).find('button[type="submit"]').prop('disabled', false);
        $(form).find('#input-file-now').html('');
      } else {
        $(form).find('button[type="submit"]').prop('disabled', true);
        $(form).find('#csvPreview').html('<span style="color: red;">Only CSV files are allowed.</span>');
      }
    });

    $(form).on('submit', function (e) {
      var file = $(form).find('#input-file-now')[0].files[0];

      if (!file) {
        e.preventDefault();
        $(form).find('#csvPreview').html('<span style="color: red;">Please select a csv file.</span>');
      }
    });
  }

  $('#UploadSpecialization').on('shown.bs.modal', function () {
    validateUploadForm($(this).find('form'));
  });
</script>




<!---Delete Script-->
<script>
  // Function to update the "Select All" checkbox status
  function updateSelectAllCheckbox() {
    var selectAllCheckbox = document.getElementById('selectAll');
    var rowCheckboxes = document.querySelectorAll('.row-checkbox');
    var allChecked = true;

    rowCheckboxes.forEach(function (checkbox) {
      if (!checkbox.checked) {
        allChecked = false;
      }
    });

    selectAllCheckbox.checked = allChecked;
    updateSelectedRowsList(); // Update selected rows list when "Select All" checkbox is clicked
  }

  // Function to update the selected rows list and toggle delete button visibility
  function updateSelectedRowsList() {
    var selectedRowsList = document.getElementById('selectedRowsList');
    var selectedIdsInput = document.getElementById('selected_ids_input');
    var deleteButton = document.getElementById('deleteButton');

    var selectedRows = document.querySelectorAll('.row-checkbox:checked');
    var selectedCount = selectedRows.length;

    if (selectedCount > 1) {
      deleteButton.style.display = 'block'; // Show delete button if more than one row is selected
    } else {
      deleteButton.style.display = 'none'; // Hide delete button if only one row or none is selected
    }

    var selectedIds = [];
    selectedRows.forEach(function (row) {
      var courseId = row.dataset.courseId;
      selectedIds.push(courseId);
    });

    // Set the value of the hidden input field to the selected IDs
    selectedIdsInput.value = selectedIds.join(',');

    // Update the delete modal message with the selected count
    document.getElementById('deleteMessage').textContent = "Are you sure you want to delete " + selectedCount + " records?";
  }

  // Event listener for checkbox change
  document.querySelectorAll('.row-checkbox').forEach(function (checkbox) {
    checkbox.addEventListener('change', function () {
      updateSelectedRowsList();
      updateSelectAllCheckbox();
    });
  });

  // Event listener for select all checkbox change
  document.getElementById('selectAll').addEventListener('change', function () {
    var isChecked = this.checked;
    document.querySelectorAll('.row-checkbox').forEach(function (checkbox) {
      checkbox.checked = isChecked;
    });
    updateSelectedRowsList();
  });

  // Initially update delete button visibility
  updateSelectedRowsList();

  // Event listener for delete button click
  document.getElementById('confirmDelete').addEventListener('click', function () {
    // Perform delete action here
    // For now, let's just close the modal
    $('#deleteModal').modal('hide');
  });
</script>
<script>
  $(document).ready(function() {
      $('#specialization_select').change(function() {
          var specializationId = $(this).val();
          var courseSelect = $('#course_select');
          var subCategorySelect = $('#sub_category_select');

          courseSelect.empty().append('<option value="">Select Course</option>');
          subCategorySelect.empty().append('<option value="">Select Sub Category</option>');
          courseSelect.prop('disabled', true);
          subCategorySelect.prop('disabled', true);

          if (specializationId) {
              $.getJSON('/get_courses_for_ch/' + specializationId, function(data) {
                  $.each(data, function(index, course) {
                      courseSelect.append('<option value="' + course.id + '">' + course.course_name + '</option>');
                  });
                  courseSelect.prop('disabled', false);
              }).fail(function(jqxhr, textStatus, error) {
                  console.error('Error fetching courses:', textStatus, error);
              });
          }
      });

      $('#course_select').change(function() {
          var courseId = $(this).val();
          var subCategorySelect = $('#sub_category_select');

          subCategorySelect.empty().append('<option value="">Select Sub Category</option>');
          subCategorySelect.prop('disabled', true);

          if (courseId) {
              $.getJSON('/get_sub_categories/' + courseId, function(data) {
                  $.each(data, function(index, subCategory) {
                      subCategorySelect.append('<option value="' + subCategory.id + '">' + subCategory.sub_cat_title + '</option>');
                  });
                  subCategorySelect.prop('disabled', false);
              }).fail(function(jqxhr, textStatus, error) {
                  console.error('Error fetching subcategories:', textStatus, error);
              });
          }
      });
  });
</script>
 


<script>
  $(document).ready(function() {
    $(".specialization-select").change(function() {
      var specializationId = $(this).val();
      console.warn(specializationId);
      var courseSelect = $('.course-select');
      var subCategorySelect = $('.sub-category-select');
      courseSelect.empty().append('<option value="">Select Course</option>');
      subCategorySelect.empty().append('<option value="">Select Sub Category</option>');

      if (specializationId) {
        $.getJSON('/get_courses_for_ch/' + specializationId, function(data) {
          $.each(data, function(index, course) {
            courseSelect.append('<option value="' + course.id + '">' + course.course_name + '</option>');
          });
        }).fail(function(jqxhr, textStatus, error) {
          console.error('Error fetching courses:', textStatus, error);
        });
      }
})

//
$('.course-select').change(function() {
  var courseId = $(this).val();
  console.warn(courseId);
  var subcatSelect = $('.sub-category-select');
  subcatSelect.empty().append('<option value="">Select Sub Category</option>');
  
  if (courseId) {
    $.getJSON('/get_sub_categories/' + courseId, function(data) {
      $.each(data, function(index, subCat) {
        subcatSelect.append('<option value="' + subCat.id + '">' + subCat.sub_cat_title + '</option>');
      });
    }).fail(function(jqxhr, textStatus, error) {
      console.error('Error fetching subcategories:', textStatus, error);
    });
  }
});




      });

</script>







{% endblock %}