{% extends 'base/base.html' %}

{% block breadCrum %}
<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Bounced Mails</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Bounced Mails</li>
    </ol>
  </nav>
</div>
<!-- /Breadcrumb -->
{% endblock %}
{% block content %}
<!-- message here -->

{% if messages %}
{% for message in messages %}
{% if message.tags == "error" %}
<div class="h-25 alert alert-danger alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
{% elif message.tags == "success" %}
<div class="h-25 alert alert-success alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
{% else %}
<div class="h-25 alert alert-info alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
{% endif %}
{% endfor %}
{% endif %}

<!-- message end here -->

<section class="hk-sec-wrapper">
  <div class="d-flex justify-content-end">
    <div class="">
      <button type="button" class="btn btn-info  mr-2 mb-3" id="printButton"><i class="fa fa-print"></i> Print</button>
    </div>
    <div class="">
      <button type="button" class="btn btn-primary mr-2 mb-3" id="deleteButton" data-toggle="modal"
        data-target="#send_Modal" style="display: none; position: relative; top: 0px; ">
        <i class="glyphicon glyphicon-envelope"></i> Resent Mail
      </button>
    </div>
  </div>
  <div class="col-sm">
    <div class="table-wrap">
      <div class="button_1 d-flex justify-content pb-2" id="button_operations_bounced" style="display: none;">
        <div class="ml-auto mr-2">
          <div id="button_operations">
          </div>
        </div>
      </div>
      <table id="datable_1" id="bouncedTable" class="table table-hover w-100 display pb-30 table-bordered">
        <thead class="bg-dark">
          <tr>
            <th class="text-white text-center"><input type="checkbox" id="selectAll"> All</th>
            <th class="text-white">S.No</th>
            <th class="text-white">Full Name</th>
            <th class="text-white">Email</th>
            <th class="text-white">Mobile Number</th>
            <th class="text-white">Course Name</th>
            <th class="text-white">Specialization</th>
            <th class="text-white">Start Date</th>
            <th class="text-white">End date</th>
            <th class="text-white">Certifictate Id</th>
            <th class="text-white text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><input type="checkbox" class="row-checkbox" data-course-id="{{i.id}}" data-course-name="{{i.fullname}}"></td>               
            <td>1</td>
            <td>Sumitra</td>
            <td>sumitra@gmail.com</td>
            <td>8328364119</td>
            <td>Developer</td>
            <td>full stack python</td>
            <td>07-07-2024</td>
            <td>10-10-2024</td>
            <td>20-10-2024</td>
            <td class="text-center">
              <button class="btn btn-primary m-1" data-toggle="modal" data-target="#Editstudent">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger m-1" data-toggle="modal" data-target="#Deletestudent{{forloop.counter}}">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
<!--Edit student modal start here-->


<div class="modal fade" id="Editstudent" tabindex="-1" role="dialog" aria-labelledby="Editstudent"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white"> Edit Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post" id="Edit_Student" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">Full Name <span class="text-danger">*</span></label>
              <input name="editfullname" type="text" placeholder="Enter Full Name" class="form-control" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">Email</label> <span class="text-danger">*</span></label>
              <input name="editemail" type="text" placeholder="Enter Email Id" class="form-control" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">Mobile Number <span class="text-danger">*</span></label>
              <input name="editmobilenumber" type="text" placeholder="Enter Mobile Number" class="form-control" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label class="form-label">Course Name <span class="text-danger">*</span></label>
              <select class="form-control custom-select id_course" name="editcourse_name">
                <option selected value="">Select Course</option>
                {% for i in coursename %}
                {% if i.status == "Active" %}
                <option value="{{i.id}}">{{ i.course_name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label class="form-label">Specialization Name <span class="text-danger">*</span></label>
              <select class="form-control custom-select id_specialization" name="editspecialization">
              </select>
            </div>


            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">Start Date<span class="text-danger">*</span></label>
              <input name="editstartdate" type="date" id="start-date-input" placeholder="" class="form-control" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">End Date<span class="text-danger">*</span></label>
              <input name="editenddate" type="date" id="end-date-input" placeholder="" class="form-control" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">Certifictate Id<span class="text-danger">*</span></label>
              <input name="editcertifictateid" type="text" placeholder="Enter Certificate Id" class="form-control" />
            </div>
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-1">Submit</button>
            <button type="reset" class="btn btn-secondary m-1">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--edit end here -->
<!--delete -->


<div class="modal fade" id="Deletestudent{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="DeleteBatch"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white">Delete Batch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3 text-center">
            <div class="d-flex justify-content-center mb-3">

              <img src="../../static/triangle-exclamation-solid.svg" width="120" height="70" alt="">
            </div>
            Are you sure you want to delete {{i.fullname}} ?
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-danger m-1">Yes</button>
          <button type="button" class="btn btn-secondary m-1" data-dismiss="modal" aria-label="Close">
            No
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!---delete end here -->

<!---send mail start here -->


<div class="modal fade" id="send_Modal" tabindex="-1" role="dialog" aria-labelledby=""
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white " id="">Send Mail</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3 text-center">
          <form action="" method="post">
            {% csrf_token %}
            <p id="sentmailMessage">Are you sure you want to sent <strong><span id="selectedCount"></span></strong>
              manual certification?</p>
            <input type="hidden" id="selected_ids_input" name="selected_ids">
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary m-1">Yes</button>
          <button type="button" class="btn btn-secondary m-1" data-dismiss="modal">No</button>
        </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!---send mail end here -->

{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    var today = new Date().toISOString().split('T')[0];
    $("#start-date-input").attr("min", today);


    $('#start-date-input').on('change', function () {
      var startDate = $(this).val();
      if (startDate) {
        $('#end-date-input').prop('disabled', false);
        $('#end-date-input').attr('min', startDate);
      }
      else {
        $('#end-date-input').prop('disabled', true)
      }
    });
  })
</script>
<script>
  $(document).ready(function () {
    //validationf for special charector 
    $.validator.addMethod("noSpecialChars", function (value, element) {
      return /^[a-zA-Z0-9\s]*$/.test(value);
    }, "Special characters are not allowed.");
    //no numbers
    $.validator.addMethod("noNumbers", function (value, element) {
      return !/\d/.test(value);
    }, "Numbers are not allowed.");
    $.validator.addMethod("noSpace", function (value, element) {
      return !(/^\s|\s$|\s{2,}/.test(value));
    }, "No excessive or leading/trailing spaces");
    $.validator.addMethod("validMobile", function (value, element) {
      return /^[6-9]\d{9}$/.test(value)
    }, "Please Enter Valid Mobile Number")
    $.validator.addMethod("noSpace", function (value, element) {
      return !(/^\s|\s$|\s{2,}/.test(value));
    }, "No excessive or leading/trailing spaces");

    $("#Edit_Student").validate({
      rules: {
        editfullname: {
          required: true,
          noNumbers: true,
          minlength: 3,
          maxlength: 20,
          noSpace: true,
          noSpecialChars: true,
        },
        editemail: {
          required: true,
        },
        editmobilenumber: {
          required: true,
          validMobile: true,
          noSpace: true,
          noSpecialChars: true
        },
        editcourse_name: {
          required: true,
        },
        editspecialization: {
          required: true,
        },

        editstartdate: {
          required: true,
        },
        editenddate: {
          required: true,
        },
        editcertifictateid: {
          required: true,
        }
      },
      messages: {
        editfullname: {
          required: "Please Enter Full Name",
          minlength: "Minimum of 3 characters",
        },
        editemail: {
          required: "Please Enter Email Id",
        },
        editmobilenumber: {
          required: 'Please Enter mobile number',
        },
        editcourse_name: {
          required: "Please Select Course Name",
        },
        editspecialization: {
          required: "Please Select Specialization Name",
        },

        editstartdate: {
          required: "Please Enter Start Date",
        },
        editenddate: {
          required: "Please Enter End Date",
        },
        editcertifictateid: {
          required: "Please Enter Certifictate Id"
        }
      },
      submitHandler: function (form) {
        form.submit();
      },
    });
  });
</script>

<script>
  // Function to update the "Select All" checkbox status
  function updateSelectAllCheckbox() {
    var selectAllCheckbox = document.getElementById('selectAll');
    var rowCheckboxes = document.querySelectorAll('.row-checkbox');
    var allChecked = true;

    rowCheckboxes.forEach(function (checkbox) {
      if (!checkbox.checked) {
        allChecked = false;
      }
    });

    selectAllCheckbox.checked = allChecked;
    updateSelectedRowsList(); // Update selected rows list when "Select All" checkbox is clicked
  }

  // Function to update the selected rows list and toggle delete button visibility
  function updateSelectedRowsList() {
    var selectedRowsList = document.getElementById('selectedRowsList');
    var selectedIdsInput = document.getElementById('selected_ids_input');
    var deleteButton = document.getElementById('deleteButton');

    var selectedRows = document.querySelectorAll('.row-checkbox:checked');
    var selectedCount = selectedRows.length;

    if (selectedCount > 0) {
      deleteButton.style.display = 'block'; // Show delete button if more than one row is selected
    } else {
      deleteButton.style.display = 'none'; // Hide delete button if only one row or none is selected
    }

    var selectedIds = [];
    selectedRows.forEach(function (row) {
      var courseId = row.dataset.courseId;
      selectedIds.push(courseId);
    });

    // Set the value of the hidden input field to the selected IDs
    selectedIdsInput.value = selectedIds.join(',');

    // Update the delete modal message with the selected count
    document.getElementById('deleteMessage').textContent = "Are you sure you want to delete " + selectedCount + " records?";
  }

  // Event listener for checkbox change
  document.querySelectorAll('.row-checkbox').forEach(function (checkbox) {
    checkbox.addEventListener('change', function () {
      updateSelectedRowsList();
      updateSelectAllCheckbox();
    });
  });

  // Event listener for select all checkbox change
  document.getElementById('selectAll').addEventListener('change', function () {
    var isChecked = this.checked;
    document.querySelectorAll('.row-checkbox').forEach(function (checkbox) {
      checkbox.checked = isChecked;
    });
    updateSelectedRowsList();
  });

  // Initially update delete button visibility
  updateSelectedRowsList();

  // Event listener for delete button click
  document.getElementById('confirmDelete').addEventListener('click', function () {
    // Perform delete action here
    // For now, let's just close the modal
    $('#deleteModal').modal('hide');
  });
</script>


{% endblock %}