{% extends 'base/base.html' %}

{% block breadCrum %}
<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Bounced Mails</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Bounced Mails</li>
    </ol>
  </nav>
</div>
<!-- /Breadcrumb -->
{% endblock %}
{% block content %}
<!-- message here -->

{% if messages %}
{% for message in messages %}
{% if message.tags == "error" %}
<div class="h-25 alert alert-danger alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
{% elif message.tags == "success" %}
<div class="h-25 alert alert-success alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
{% else %}
<div class="h-25 alert alert-info alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
{% endif %}
{% endfor %}
{% endif %}

<!-- message end here -->

<section class="hk-sec-wrapper">
  <div class="d-flex justify-content-end">
    <div class="">
      <button type="button" class="btn btn-info  mr-2 mb-3" id="printButton"><i class="fa fa-print"></i> Print</button>
    </div>
    <div class="">
      <button type="button" class="btn btn-primary mr-2 mb-3" id="deleteButton" data-toggle="modal"
        data-target="#sendModal">
        <i class="glyphicon glyphicon-envelope"></i> Resent Mail
      </button>
    </div>
  </div>
  <div class="col-sm">
    <div class="table-wrap">
      <div class="button_1 d-flex justify-content pb-2" id="button_operations_bounced" style="display: none;">
        <div class="ml-auto mr-2">
          <div id="button_operations">
          </div>
        </div>
      </div>
      <table id="datable_1" id="bouncedTable" class="table table-hover w-100 display pb-30 table-bordered">
        <thead class="bg-dark">
          <tr>
            <th class="text-white text-center"><input type="checkbox" id="selectAllCheckbox"> All</th>
            <th class="text-white">S.No</th>
            <th class="text-white">Full Name</th>
            <th class="text-white">Email</th>
            <th class="text-white">Mobile Number</th>
            <th class="text-white">Course Name</th>
            <th class="text-white">Specialization</th>
            <th class="text-white">Start Date</th>
            <th class="text-white">End date</th>
            <th class="text-white">Certifictate Id</th>
            <th class="text-white text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><input type="checkbox" class="row-checkbox" data-course-id="{{i.id}}"
                data-course-name="{{i.fullname}}"></td>
            </td>
            <td>{{forloop.counter}}</td>
            <td>{{i.fullname}}</td>
            <td class="">{{i.email}}</td>
            <td class="">{{i.mobilenumber}}</td>
            <td class="">{{i.course}}</td>
            <td class="">{{i.specialization}}</td>
            <td class="">{{i.startdate}}</td>
            <td class="">{{i.enddate}}</td>
            <td class="">{{i.certifictateid}}</td>
            <td class="text-center">
              <button type="button" class="btn btn-primary m-1" data-toggle="modal"
                data-target="#Editbounced{{forloop.counter}}">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-success" id="downloadButton">
                <i class="fa fa-download"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!--Edit student modal start here-->
{% for i in student %}

<div class="modal fade" id="Editbounced{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="Editbounced"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white"> Edit Bounced</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'bounced_edit' i.id %}" method="post" id="Edit_Student" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">Full Name <span class="text-danger">*</span></label>
              <input name="editfullname" value="{{i.fullname}}" type="text" placeholder="Enter Full Name"
                class="form-control" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">Email</label> <span class="text-danger">*</span></label>
              <input name="editemail" value="{{i.email}}" type="text" placeholder="Enter Email Id"
                class="form-control" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">Mobile Number <span class="text-danger">*</span></label>
              <input name="editmobilenumber" value="{{i.mobilenumber}}" type="text" placeholder="Enter Mobile Number"
                class="form-control" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label class="form-label">Course Name <span class="text-danger">*</span></label>
              <select class="form-control custom-select id_course" name="editcourse_name">
                <option selected value="">Select Course</option>
                {% for i in coursename %}
                {% if i.status == "Active" %}
                <option value="{{i.id}}">{{ i.course_name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label class="form-label">Specialization Name <span class="text-danger">*</span></label>
              <select class="form-control custom-select id_specialization" name="editspecialization">
              </select>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">Start Date<span class="text-danger">*</span></label>
              <input name="editstartdate" value="{{i.startdate}}" type="date" id="start-date-edit" placeholder=""
                class="form-control" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">End Date<span class="text-danger">*</span></label>
              <input name="editenddate" value="{{i.enddate}}" type="date" id="end-date-edit" placeholder=""
                class="form-control" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="" class="form-label">Certifictate Id<span class="text-danger">*</span></label>
              <input name="editcertifictateid" value="{{i.certifictateid}}" type="text"
                placeholder="Enter Certificate Id" class="form-control" />
            </div>
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-1">Submit</button>
            <button type="reset" class="btn btn-secondary m-1">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!--Edit student modal end here-->


<!---send mail start here -->
<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="sendModalLabel">Resend Mail</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3 text-center">
          <form action="{% url 'bounced_sent' %}" method="post">
            {% csrf_token %}
            <p id="sentmailMessage">Are you sure you want to send <strong><span id="selectedCount"></span></strong>
              manual certification?</p>
            <input type="hidden" id="selected_ids_input" name="selected_ids">
        </div> <!-- Close the div for mb-3 text-center -->
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary m-1">Yes</button>
          <button type="button" class="btn btn-secondary m-1" data-dismiss="modal">No</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!---send mail end here -->

{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    var today = new Date().toISOString().split('T')[0];
    $("#start-date-edit").attr("min", today);


    $('#start-date-edit').on('change', function () {
      var startDate = $(this).val();
      if (startDate) {
        $('#end-date-edit').prop('disabled', false);
        $('#end-date-edit').attr('min', startDate);
      }
      else {
        $('#end-date-edit').prop('disabled', true)
      }
    });
  })
</script>
<script>
  $(document).ready(function () {
    //validationf for special charector 
    $.validator.addMethod("noSpecialChars", function (value, element) {
      return /^[a-zA-Z0-9\s]*$/.test(value);
    }, "Special characters are not allowed.");
    //no numbers
    $.validator.addMethod("noNumbers", function (value, element) {
      return !/\d/.test(value);
    }, "Numbers are not allowed.");
    $.validator.addMethod("noSpace", function (value, element) {
      return !(/^\s|\s$|\s{2,}/.test(value));
    }, "No excessive or leading/trailing spaces");
    $.validator.addMethod("validMobile", function (value, element) {
      return /^[6-9]\d{9}$/.test(value)
    }, "Please Enter Valid Mobile Number")
    $.validator.addMethod("noSpace", function (value, element) {
      return !(/^\s|\s$|\s{2,}/.test(value));
    }, "No excessive or leading/trailing spaces");

    $("#Edit_Student").validate({
      rules: {
        editfullname: {
          required: true,
          noNumbers: true,
          minlength: 3,
          maxlength: 20,
          noSpace: true,
          noSpecialChars: true,
        },
        editemail: {
          required: true,
        },
        editmobilenumber: {
          required: true,
          validMobile: true,
          noSpace: true,
          noSpecialChars: true
        },
        editcourse_name: {
          required: true,
        },
        editspecialization: {
          required: true,
        },

        editstartdate: {
          required: true,
        },
        editenddate: {
          required: true,
        },
        editcertifictateid: {
          required: true,
        }
      },
      messages: {
        editfullname: {
          required: "Please Enter Full Name",
          minlength: "Minimum of 3 characters",
        },
        editemail: {
          required: "Please Enter Email Id",
        },
        editmobilenumber: {
          required: 'Please Enter mobile number',
        },
        editcourse_name: {
          required: "Please Select Course Name",
        },
        editspecialization: {
          required: "Please Select Specialization Name",
        },

        editstartdate: {
          required: "Please Enter Start Date",
        },
        editenddate: {
          required: "Please Enter End Date",
        },
        editcertifictateid: {
          required: "Please Enter Certifictate Id"
        }
      },
      submitHandler: function (form) {
        form.submit();
      },
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Function to update checkbox states
    function updateCheckboxes() {
      var checkboxes = document.querySelectorAll(".checkbox");
      var selectAllCheckbox = document.getElementById("selectAllCheckbox");
      
      checkboxes.forEach(function(checkbox) {
        checkbox.checked = selectAllCheckbox.checked;
      });

      updateResendButtonVisibility();
    }

    // Function to update the resend button visibility
    function updateResendButtonVisibility() {
      var resendButton = document.getElementById("resendButton");
      var selectedCount = document.querySelectorAll(".checkbox:checked").length;

      if (selectedCount > 0) {
        resendButton.style.display = "block";
      } else {
        resendButton.style.display = "none";
      }

      document.getElementById("selectedCount").textContent = selectedCount;
      document.getElementById("selected_ids_input").value = getSelectedIds();
    }

    // Function to get the IDs of selected items
    function getSelectedIds() {
      var selectedIds = [];
      var checkboxes = document.querySelectorAll(".checkbox:checked");
      
      checkboxes.forEach(function(checkbox) {
        selectedIds.push(checkbox.value);
      });

      return selectedIds.join(",");
    }

    // Attach event listener to select all checkbox
    var selectAllCheckbox = document.getElementById("selectAllCheckbox");
    if (selectAllCheckbox) {
      selectAllCheckbox.addEventListener("change", function() {
        updateCheckboxes();
      });
    }

    // Attach event listener to individual checkboxes
    var checkboxes = document.querySelectorAll(".checkbox");
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener("change", function() {
        updateResendButtonVisibility();
      });
    });

    // Initial call to update the resend button visibility
    updateResendButtonVisibility();
  });
</script>




<script>
  $(document).ready(function () {
    $('.id_course').change(function () {
      var specializationId = $(this).val();
      console.warn(specializationId)
      var url = '/depnd_specilization/' + specializationId;
      console.warn(url)
      $.ajax({
        url: url,
        success: function (data) {
          var specialization_list = data.specialization_list;
          console.log(specialization_list)
          var options = '<option value="">Select Specialization</option>';
          for (var i = 0; i < specialization_list.length; i++) {
            options += '<option value="' + specialization_list[i].id + '">' + specialization_list[i].name + '</option>';
          }
          $('.id_specialization').html(options);
        }
      });
    });
  });

</script>


{% endblock %}