{% extends 'base/base.html' %}

{% block content %}
<div style="padding-left: 20px; padding-right: 20px;" class="bg-white">
    <div class="hk-pg-header d-flex justify-content-between mb-0">
      <h3 class="hk-pg-title m-3">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0">
          <li class="breadcrumb-item"><a href="">Home</a>/Certification</li>
        </ol>
      </nav>
    </div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card shadow mb-3">
                <div class="card mt-2">
                    <div class="px-1 py-0.4 d-flex justify-content-between ">
                        <div style="color: black">
                            <span style="font-size: 50px; opacity: 0.8;padding-left: 2pc;"><i class="fa fa-users"></i></span>
                        </div>
                        <div class="align-self-center" >
                            <h4 class="fw-bold">13</h4>
                            <p class="fw-bold">Total iHub Students</p>
                        </div>
                    </div>
                    <div class="card-footer border-0 py-1 text-center " style="background:	rgba(241, 199, 11, 0.7);">
                        <a href="" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                    </div>
                </div>
                <!-- Card content -->
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card shadow mb-3">
                <div class="card mt-2">
                    <div class="px-1 py-0.4 d-flex justify-content-between ">
                        <div style="color: black">
                            <span style="font-size: 50px; opacity: 0.8;padding-left: 2pc;"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="align-self-center">
                            <h3 class="fw-bold">0</h3>
                            <p class="fw-bold">Total QualityThought Students</p>
                        </div>
                    </div>
                    <div class="card-footer border-0 py-1 text-center " style="background:rgb(0,183,199)">
                        <a href="" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                    </div>
                </div>
                <!-- Card content -->
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card shadow mb-3">
                <div class="card mt-2">
                    <div class="px-1 py-0 d-flex justify-content-between ">
                        <div style="color: black">
                            <span style="font-size: 50px; opacity: 0.8;padding-left: 2pc;"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                        </div>
                        <div class="align-self-center">
                            <h3 class="fw-bold">2</h3>
                            <p style="padding-right: 0pc;">Total Mail Pending to send</p>
                        </div>
                    </div>
                    <div class="card-footer border-0 py-1 text-center " style="background: rgba(236, 84, 57, 0.863);">
                        <a href="" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                    </div>
                </div>
                <!-- Card content -->
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card shadow mb-3">
                <div class="card mt-2">
                    <div class="px-1 py-0 d-flex justify-content-between ">
                        <div style="color: black">
                            <span style="font-size: 50px; opacity: 0.8;padding-left: 2pc;"><i class="fa fa-check-circle-o"></i></span>
                        </div>
                        <div class="align-self-center">
                            <h3 class="fw-bold" style="padding-right: 2pc;">16</h3>
                            <p>Total Mail sended to Students</p>
                        </div>
                    </div>
                    <div class="card-footer border-0 py-1 text-center " style="background: rgb(92,184,92)">
                        <a href="" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                    </div>
                </div>
                <!-- Card content -->
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
