<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #E5E7E9;">
    <div class="container" style="width: 600px; margin: 0 auto; padding: 20px; background-color: #FFFFFF; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 8px;">
        <div class="header" style="background-color: #132649; padding: 20px; border-radius: 8px 8px 0 0; text-align: center; color: #FFFFFF;">
            <h1 style="margin: 0; font-size: 24px;">QT Lineone</h1>
        </div>
        <div class="content" style="padding: 20px; color: #666666; line-height: 1.5; font-size: 16px;">
            <p style="margin: 0 0 1em;">Dear {{student_full_name}},</p>
            <p style="margin: 0 0 1em;">We are pleased to inform you that your application status has been updated to <strong>{{status}}</strong>.</p>
            <p style="margin: 0 0 1em;">If you have any questions, feel free to contact us.</p>
            <p style="margin: 0 0 1em;">Best regards,<br>QT Lineone Team</p>
        </div>
        <div class="footer" style="text-align: center; padding: 20px; color: #999999; font-size: 14px;">
            @ 2024 QT Lineone. All rights reserved.
        </div>
    </div>
</body>
</html>
