{% extends 'base/base.html' %}
{% block breadCrum %}

<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Job posted by {{employee.first_name}} {{employee.last_name}} [{{job_posts.count}}]</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'placement_dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'hr' %}">HR details</a></li>
      <li class="breadcrumb-item"><a href="">Quality Thoughts</a></li>
      <li class="breadcrumb-item active" aria-current="page">posted jobs ({{job_posts.count}})</li>
    </ol>
  </nav>
</div>
<!-- /Breadcrumb -->

{% endblock %} 
{% block content %}



<section class="hk-sec-wrapper shadow-lg p-3 mb-5 bg-white rounded" style="border:grey;">
  <div class="d-flex justify-content-end">
    <a href="{% url 'job_details_export' employee.id %}" type="button" class="btn btn-success mr-2 mb-3 float-right"><i class="fa fa-print"></i> Print </a>
    </div>

  <div class="row" >
    <div class="col-sm">
      <div class="table-wrap">
        <table class="table table-hover w-100 display pb-30 table-bordered">
            <thead class="bg-dark">
              <tr>
                <!-- <th class="text-white">S.No</th> -->
                <th class="text-white">Profile</th>
                <th class="text-white">Employee ID</th>
                <th class="text-white">Name</th>
                <th class="text-white">Email</th>
                <th class="text-white">Phone</th>
                
                <td class="text-white">Department</td>
                <td class="text-white">Designation</td>
                <th class="text-white">Date of Joining</th>
                <th class="text-white">Current Location</th>
              </tr>
            </thead>
            <tbody style="background-color:mistyrose;">
              <!-- <td>1</td> -->
                <td><img src="{{employee.profile_image.url}}" alt="user" class="avatar-img rounded-circle" style="width: 70px; height: 70px;"></td>
                <td class="font-weight-bold">{{employee.Employee_id}}</td>
                <td style="font-weight:bold">{{employee.first_name}} {{employee.last_name}}</td>
                <td>{{employee.personal_email}}</td>
                <td>{{employee.personal_number}}</td>
                <td>{{employee.department_name.department_name}}</td>
                <td>{{employee.designation_name.designation_name}}</td>
                <td>{{employee.joining_date}}</td>
                <td>{{employee.city}}</td>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</section>





<section class="hk-sec-wrapper">
  <!-- <div class="d-flex row justify-content-between g-2">
    <div class="card col-sm-12 col-lg-4 col-md-4">
      <div class="card-body ">
        
          <img src="{{employee.profile_image.url}}" class="img-fluid shadow-lg rounded-lg"alt="">

        </div>
    </div>
    <div class="col-sm-12 col-lg-8 col-md-8">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 ">
          
              <div class="card ">
                <div class="card-body d-flex justify-content-center" >
                    
                  <table class="table table-hover table-bordered table-responsive">
                      <thead class="bg-dark">
                        <tr>
                          <td class="text-white">Name</td>
                          <td class="text-white">Email</td>
                          <td class="text-white">Department</td>
                          <td class="text-white">Designation</td>
                          <td class="text-white">Contact</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{employee.first_name}} {{employee.last_name}}</td>
                          <td>{{employee.personal_email}}</td>
                          <td>{{employee.department_name.department_name}}</td>
                          <td>{{employee.designation_name.designation_name}}</td>
                          <td>{{employee.personal_number}}</td>
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div>

        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">



        </div>
      </div>


  </div>

  </div> -->
  <!-- <div class="d-flex justify-content-end">
    <a href="{% url 'job_details_export' employee.id %}" type="button" class="btn btn-success mr-2 mb-3"><i class="fa fa-download"></i> Print</a>  
  </div> -->
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
          <table id="datable_1" class="table table-hover w-100 display pb-30 table-bordered">
              <thead class="bg-dark">
                  <tr>
                      <th class="text-white">Job ID</th>
                      <th class="text-white">Job Title</th>
                      <th class="text-white">Company Name</th>
                      <th class="text-white">Location</th>
                      <th class="text-white">Package</th>
                      <th class="text-white">Last Date to Apply</th>
                      <th class="text-white text-center">Applied / Eligible / In Progress / Placed</th>
                  </tr>
              </thead>
              <tbody>
                {% for i in job_posts %}
                  <tr>
                      <td>{{i.id}}</td>
                      <td class="text-primary " style="cursor: -webkit-grab; cursor: grab";
                      data-toggle="modal"data-target="#jobdescription{{ forloop.counter }}">{{i.job_title}}</td>
                      <td>{{i.companyname.companyname}}</td>
                      <td>{{i.companyname.location}}</td>
                      <td> {{i.salary}} LPA</td>
                      <td>{{i.last_date_to_apply}}</td>
                      <td class="text-center">
                        <a href="{% url 'jobgalleryapplied' %}"><i class="glyphicon glyphicon-user text-primary fs-4"></i></a>120 /
                        <a href="{% url 'jobgalleryeligible' %}"><i class="glyphicon glyphicon-user text-secondary fs-4"></i></a>60 /
                        <a href="{% url 'jobgalleryinprogress' %}"><i class="glyphicon glyphicon-user text-warning fs-4"></i></a>10 /
                        <a href="{% url 'jobgalleryplaced' %}"><i class="glyphicon glyphicon-user text-success fs-4"></i></a>1
                      </td>                         
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>
</section>

<!-- create model start here -->
<!-- 
<div
class="modal fade"
id="addjob"
tabindex="-1"
role="dialog"
aria-labelledby="addjob"
aria-hidden="true"
>
<div class="modal-dialog  modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header bg-dark">
      <h5 class="modal-title text-white">Add Job Post</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true" class="text-white">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="">
        <div class="">
          <label for="" class="form-label "
            >Job Title <span class="text-danger">*</span></label
          >
          <input
            type="text"
            placeholder="Python Developer"
            name="job title"
            class="form-control mb-3"
          />
        <label for="" class="form-label"
            >Company Name <span class="text-danger">*</span></label
          >
          <input
            type="text"
            placeholder="lokesh software solutions"
            name="company"
            class="form-control mb-3"
          />
        <label for="" class="form-label"
            >Location <span class="text-danger">*</span></label
          >
          <input
            type="number"
            placeholder="Hyderabad"
            name="location"
            class="form-control mb-3"
          />
          <label for="" class="form-label"
            >Package <span class="text-danger">*</span></label
          >
          <input
            type="text"
            placeholder="4LPA"
            class="form-control mb-3"
            name="package"
          />
          <label for="" class="form-label"
            >Applied Date <span class="text-danger">*</span></label
          >
          <input
            type="text"
            placeholder="23,March"
            class="form-control mb-3"
            name="package"
          />
          <label for="" class="form-label"
            >Last Date to Apply <span class="text-danger">*</span></label
          >
          
          <input
            type="text"
            placeholder="30,march"
            class="form-control mb-3"
            name="lastdate"
          />
        </div>

      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
  </div>
</div>
</div>  -->

<!-- Create model end here -->

<!-- Create modal sstarts here -->

<div class="modal fade" 
    id="addjob" 
    tabindex="-1"
    role="dialog" 
    aria-labelledby="addjob" 
    aria-hidden="true"
 >
  <div class="modal-dialog modal-lg  " role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h4 class="modal-title text-white" >Add student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="text-white">&times;</span>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12">
                  <div class="row ">
                      <div class="col-sm">
                          <div class="row">
                              <div class="col-md-4 mb-3">
                                  <label for="" class="form-label">Job ID <span class="text-danger">*</span></label>
                                  <input type="text"placeholder="4545" class="form-control mb-3"/>
                              </div>

                              <div class="col-md-4">
                                <label for="" class="form-label">Job Title <span class="text-danger">*</span></label>
                                  <input type="text"placeholder="Full Stack developer" class="form-control mb-3"/>
                              </div>

                              <div class="col-md-4">
                                <label for="" class="form-label">Company Name <span class="text-danger">*</span></label>
                                <input type="text"placeholder="TCS" class="form-control mb-3"/>
                              </div>
                          </div>
      


                          <div class="row">
                              <div class="col-sm">
                                <div class="row">
                                  <div class="col-md-4 mb-3">
                                      <label for="" class="form-label">Job Category <span class="text-danger">*</span></label>
                                      <input type="text"placeholder="Technical" class="form-control mb-3"/>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="" class="form-label">Experience <span class="text-danger">*</span></label>
                                      <input type="text"placeholder="1-2 years" class="form-control mb-3"/>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="" class="form-label">Qualification <span class="text-danger">*</span></label>
                                      <input type="text"placeholder="Btech" class="form-control mb-3"/>
                                  </div>
                                </div>
                              </div>
                            </div>
      


                          <div class="row">
                            <div class="col-sm">
                              <div class="row">
                                <div class="col-md-4 mb-3" >
                                  <label for="" class="form-label">Skills <span class="text-danger">*</span></label>
                                  <input type="text"placeholder="Python, django" class="form-control mb-3"/>

                                  
                                
                                </div>
                                <div class="col-md-4">
                                  <label for="" class="form-label">Role <span class="text-danger">*</span></label>
                                  <input type="text"placeholder="Python Developer" class="form-control"/>
                                </div>
                                <div class="col-md-4">
                                  <label for="" class="form-label">Salary <span class="text-danger">*</span></label>
                                  <input type="text"placeholder="4LPA" class="form-control mb-3"/>
                                </div>
                              </div>
                            </div>
                          </div>
      




                          <div class="row">
                            <div class="col-sm">
                              <div class="row">
                                <div class="col-md-4 mb-3">
                                   <label for="" class="form-label">Location <span class="text-danger">*</span></label>
                                   <input type="text"placeholder="Hyderabad" class="form-control mb-3"/>
                                </div>
                               <div class="col-md-4">
                                    <label for="" class="form-label">Email <span class="text-danger">*</span></label>
                                    <input type="email"placeholder="Lokesh@gmail.com" class="form-control mb-3"/>

                              </div>
                              <div class="col-md-4">
                                    <label for="" class="form-label">Contact Number <span class="text-danger">*</span></label>
                                    <input type="number"placeholder="9876598765" class="form-control mb-3"/>
                              </div>
                              </div>
                            </div>
                          </div>
      
                          <div class="row">
                            <div class="col-sm">
                              <div class="row">
                                  <div class="col-md-4 mb-3">
                                        <label for="" class="form-label">Last Date to Apply <span class="text-danger">*</span></label>
                                        <input type="text"placeholder="30,march" class="form-control mb-3"/>

                                        
                                  </div>
                                  <div class="col-md-4">
                                        <label for="" class="form-label">Package <span class="text-danger">*</span></label>
                                        <input type="text"placeholder="4LPA" class="form-control mb-3"/>
                                  </div>
                                  <div class="col-md-4">
                                      <label for="" class="form-label">Responsibilites <span class="text-danger">*</span></label>
                                      <input type="text"placeholder="Assigning work to team" class="form-control mb-3"/>
                                  </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                  </div>
                </div>
              </div>
              

              <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary">Add Job Post</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
              </div>
              <!-- <div class="modal-footer justify-content-md-center d-grid gap-2 col-6 mx-auto ">
                <button type="submit" class="btn btn-info btn-md btn-block" data-bs-dismiss="modal">ADD</button>
              </div> -->
            </div>
          </div>
        </div>        

<!-- Create modal ends here -->

<!-- Job description model starts here -->
{% for i in job_posts %}

<div
class="modal fade"
id="jobdescription{{ forloop.counter }}"
tabindex="-1"
role="dialog"
aria-labelledby="jobdescription{{ forloop.counter }}"
aria-hidden="true"
>
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header bg-dark">
      <h5 class="modal-title text-white md-3">Job description</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true" class="text-white">&times;</span>
      </button>
    </div>
      <div class="bg-white ">
        <h5 class="text-danger px-3 pt-2 pb-30 text-center" > {{request.session.admin_user.company_name}} Placements</h5>
                  <div class="px-3"> 
                      
                  <table class="table table-bordered border">
                    <tr>
                      <td style="font-weight: bold; width: 200px;">Job ID</td>
                      <!-- <td>:</td> -->
                      <td >{{i.id}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Job Title</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.job_title}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Job Category</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.companyname.category}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Experience</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.companyname.experience}} years</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Qualification</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.qualification.qualification_name}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Skills</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.skills}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Role</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.role.jobrole_name}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Salary</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.salary}} LPA</td>
                    </tr>
                    <tr >
                      <td style="font-weight: bold;">location</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.companyname.location}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Email</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.companyname.email}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Contact Number</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.companyname.mobile}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Last Date to Apply</td>
                      <!-- <td>:</td> -->
                      <td  >{{i.last_date_to_apply}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Posted Date</td>
                      <!-- <td>:</td> -->
                      <td   >{{i.post_date}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Job description</td>
                      <!-- <td>:</td> -->
                      <td>{{i.job_description | safe}}</td>
                    </tr>
                    
                  </table>
                  <div class="text-center py-2">
                    <button
                      type="button"
                      class="btn btn-dark"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                    Close
                  </button>
                </div>
        </div> 
    </div>
    
  </div>
</div>
</div>
{% endfor %}

        <!-- Job description model ends here -->
        
{% endblock %}